[2018-09-03 05:28] pisuke opened #12 "Add support for Ctrl+C to stop cmd/run"
When using cmd/exrun it is possible to use Ctrl+C to stop the program, but when running cmd/run this does not seem to be possible. At the moment I use

<pre>
docker stop daq-runner
</pre>

or

<pre>
docker kill daq-runner
</pre>

from a separate terminal window to stop the execution.
Being able to use Ctrl+C in the same terminal would be useful.

[2018-09-07 08:26] grafnu opened #13 "Make DAQ detect faucet configuration errors"
If there's a configuration error in the faucet.yaml file, it should be exposed through the DAQ command line.

[2018-09-07 09:05] grafnu opened #14 "make faucet port configurable"
6633 6654??!?!

[2018-09-13 10:52] pisuke opened #17 "Problem upgrading DAQ after git pull"
I've don a git pull to upgrade DAQ to the latest code on the master branch.
Then issued the following commands

[code]

So far, so good.
Then, running

[code]

the build script execution stops with this output:

Loading build configuraiton from local/system.conf
Build docker/Dockerfile.aardvark into daq/aardvark, log to build/docker_build.aardvark...
E: Unable to locate package tcpdump
E: Unable t

[2018-09-13 13:17] grafnu commented on #17
I just tried it and it worked for me (and on the CI build), so it's either
transitory (try it again!), or there could be some bad state in your build
container (not sure how or what), or something to do with your local
system.  It seems to be a very common problem
<https://www.google.com/search?q=docker+temporary+failure+resolving+%27archive.ubuntu.com%27&oq=docker+tempo&aqs=chrome.0.0j69i57j0l4.3

[2018-09-14 06:32] pisuke opened #18 "GCP firestore connection problem"
After the last source code pull, I run into this problem when connecting to the GCP app

[code]
Loading container configuration from /home/francesco/Code/faucetsdn/daq/local//system.conf
0.8.1: Pulling from daqf/runner
Digest: sha256:ae436ab18d1c922d3a12e0ba112be8bac01e7e20297ff47bb95db542d8f98a2c
Status: Image is up to date for daqf/runner:0.8.1
Configuring apparmor...
sudo: apparmor_parser: comm

[2018-09-14 12:27] pisuke commented on #18
It fails consistently on my Debian VM, but I need to try a different
machine to tell with certainty. All other applications using a connection
work (apt-get and browsing is fast speed).
I'll try again when back to my computers and report.

On 14 Sep 2018 at 1:22 pm, <Trevor <notifications@github.com>> wrote:

Is it consistent, like it always fails, or only sometimes? Anything weird
about your loca

[2018-09-14 13:49] grafnu commented on #18
Ok -- why don't we hold off on this one for now. I haven't done a release
in a while (this is from the 0.8.1 docker container), and there's a few
things that have been updated since then (like the firestore version), so I
wouldn't want to waste time on this for the time being.  Just skip any
testing with cmd/run until I can do a new release... as long as cmd/exrun
works then we're all good!

I was

[2018-09-21 16:31] pisuke commented on #18
Sorry to open this again. Just did a git pull and rebuilt.
[code]
runs well and manages to show the test status on the firebase app, but
[code]
stops with the following error

...
INFO:daq:pid is 4291
INFO:gcp:Loading gcp credentials from local/bos-daq-testing-cf03a659eff0.json
INFO:gcp:Initialized gcp pub/sub bos-daq-testing:daq-arup
INFO:gcp:Initialized gcp firestore bos-daq-testing:daq-arup
Tra

[2018-09-21 16:44] grafnu commented on #18
Hey -- yah, there was an update in the docs... See this
https://github.com/faucetsdn/daq/blob/master/docs/firebase.md and look for
"Storage Admin"... basically you need to update the permissions on your
service account!  Sorry for the hiccup... just so many moving bits.

On Fri, Sep 21, 2018 at 9:31 AM Francesco Anselmo <notifications@github.com>
wrote:

[2018-09-21 18:27] grafnu commented on #18
Ok -- permissions should be added, please try again!  Redstone should be
able to add them to their project since they are the owners...

On Fri, Sep 21, 2018 at 11:21 AM Francesco Anselmo <notifications@github.com>
wrote:

[2018-09-21 18:29] grafnu commented on #18
The firebase project is linked to the backing GCP project -- so you can't
deploy to your firebase project from the pubsub piece with the service
account -- that's likely why it's empty because there's no data going into
it.  Or, are you saying that you have a completely separate path with the
arup-daq-testing@ for GCP and also Firebase?

On Fri, Sep 21, 2018 at 11:22 AM Francesco Anselmo <notifica

[2018-09-21 18:55] pisuke commented on #18
Yes, I've a separate path set up with both GCP and Firebase

[2018-09-21 19:15] grafnu commented on #18
K -- let me work on making some trouble-shooting documentation. Basically
walk-through step-by-step what's supposed to happen so somebody can
diagnose/triage the problem more than just "it doesn't work!"

On Fri, Sep 21, 2018 at 11:55 AM Francesco Anselmo <notifications@github.com>
wrote:

[2018-09-25 00:15] grafnu commented on #18
Is this resolved now?

[2018-10-18 13:16] pisuke opened #30 "Reports with dates, not overwritten"
Reports should allow saving different reports on same device instead of overwriting.
Reports should include mac address + testing machine ID + timestamp in name of test file.

[2018-10-18 13:18] pisuke opened #31 "Suggestion: add comments to reports"
There could be an option when running the test that allows to add a comment to describe the device configuration for the test.

[2018-10-18 13:20] ewRedstone commented on #31
Require a text field on the report webpage to enter and append device model and make to report

[2018-10-18 13:20] pisuke opened #32 "Scan all ports with nmap"
Expand to scan other ports, especially the ones relevant for building systems.

[2018-10-18 13:22] ewRedstone opened #33 "Suggestion:Reporting"
- Report to include how far along sequence before aborted.
- Report to include exception as to why sequence aborted.
- Report should be generated regardless of whether device failed or not.
- If device fails old report is left behind from previous test.

[2018-10-18 13:30] pisuke opened #35 "DAQ hanging on INFO:runner:Entering main event loop."
Sometimes the system becomes unstable and hangs at the “INFO:runner:Entering main event loop.” stage.
In order to make it work again it is necessary to restart the VM / computer or to unplug/plug the adapter so that the kernel restarts the adapter.

[2018-10-18 18:23] pisuke opened #36 "Specify devices in groups without having to create MUD files"
Can the system allow to specify devices in group without having to create MUD files for them?

[2018-10-22 22:07] pisuke commented on #18
Yes, all sorted now, and the documentation is very useful to get the app installed and configured.
Thank you!

[2018-10-22 22:07] #18 closed

[2018-10-23 14:04] pisuke opened #37 "startup.pcap empty"
I'm running DAQ in local mode and the startup.pcap file generated by DAQ is empty.

Also, another thing related is that the location of the pcap files is no longer inst/run-port-01/nodes/gw01/tmp/startup.pcap as reported in the [example](https://www.google.com/url?q=https://github.com/grafnu/daq/blob/master/docs/startup_pcap.md&source=gmail&ust=1540387986782000&usg=AFQjCNHa0yHlsIKhtRQ2jSRyH4eeRoCX

[2018-10-24 00:45] grafnu commented on #37
Addressed in https://github.com/grafnu/daq/pull/28

[2018-10-24 00:45] grafnu commented on #36
Addressed in https://github.com/grafnu/daq/pull/29

[2018-10-25 15:18] #37 closed

[2018-10-26 15:34] grafnu commented on #35
The most recent version has some additional diagnostic output/instructions right after the "Entering main event loop" output, so next time this happens, please take a look and update this issue with the relevant output, thanks!

[2018-10-26 20:12] grafnu commented on #30
Added date to report name. For now will leave testing machine ID out of it.  If this ends up being important please open another issue.

[2018-10-26 20:13] #30 closed

[2018-10-26 20:14] grafnu commented on #13
Depending on https://github.com/faucetsdn/faucet/issues/2594

Currently put in some better diagnostics that say "Please check faucet logs file"

[2018-11-01 22:28] pisuke opened #39 "Remove realpath from package list for installation on Ubuntu OS"
When doing setup_base and setup_dev on the Ubuntu 18.04 LTS release, I need to remove realpath from the package list as this package has been dropped in the latest version of Ubuntu.
Can an OS check be added to the setup_base and setup_dev scripts so that under Ubuntu realpath is not included in the list of packages to be installed by apt?

[2018-11-03 17:15] grafnu opened #40 "Create capability dynamically specify test set, and add local tests"
Use some configuration file indirection (like the credential files do).

[2018-11-03 17:15] grafnu opened #41 "Make docker test builds downloaded from github"

[2018-11-07 16:21] grafnu opened #42 "physical_sec error does not halt progress"
"Non-local run mode not supported for physical switches yet"

That should error-out and stop the process.

[2018-11-15 22:40] #36 closed

[2018-11-16 19:07] MPH13 opened #45 "Update bin/setup_base with Debian instead of Ubuntu"
Please modify bin/setup_base to reflect the below:

``# Docker versions after this introduced a bug that would prevent "service docker start" from working.
DOCKER_VERSION='=18.06.1~ce~3-0~debian'
``

Previous version: ``DOCKER_VERSION='=18.06.1~ce~3-0~ubuntu'``

[2018-11-19 20:14] MPH13 opened #46 "Running cmd/clean has "docker rmi" error"
Running the command: ```sudo cmd/clean``` creates following error:

[code]
This happens regardless of running the cmd/build previously or not.

[2018-11-19 21:49] #46 closed

[2018-11-20 16:31] pisuke opened #47 "More verbosity in bin/mudacl error output"
When running

'''
bin/mudacl local/device_specs.json
'''

I get an output like this

'''
BUILD SUCCESSFUL in 0s
2 actionable tasks: 2 up-to-date
Running regression test.
com.google.daq.orchestrator.mudacl.MudAclGenerator$ExceptionMap: 1 type errors
 java.lang.RuntimeException: While processing type bacnet_controller rule ntp-frdev
   java.lang.IllegalArgumentException: Should not include NTP ports

[2018-11-20 18:39] MPH13 opened #48 "Update daq/docs/validator.md with proper directory"
https://github.com/faucetsdn/daq/blob/master/docs/validator.md#validator-setup
Current:
``There's currently two schemas available, defined in the validator/schemas/ subdirectory:``

Directory correction:
``daq/schemas``

[2018-11-27 15:06] pisuke opened #49 "Add IP address information in the firebase app"
For troubleshooting and configuration purposes, it would be extremely useful to see in the firebase app the IP address of the devices being tests/connected.
At the moment I'm using docker exec to get a terminal on the containers, but that would be more immediate.
Thanks!

[2018-11-27 15:15] pisuke opened #50 "Reach devices under test from DAQ machine with browser or ssh connection for configuration purposes"
To configure IP connected building control devices, it would be extremely useful to use DAQ to put them in a reachable network state reachable from the host.
The -n option already creates the network, but the devices under testing are not accessible from the DAQ machine.

The use case is to open a browser and reach the device on port 80/443 or open an ssh connection on port 22 from the DAQ machine

[2018-11-27 18:22] MPH13 opened #51 "README.md - documentation steps - execution order"
Get the documentation into a more sequential state to better perform test in order of operation.

New Order:
[code]

Reason for re-order:
Need some clarification on the build and configuration beforing running cmd/run.  By understanding some of the key components and their setup, eg Network Topology (using single device or switch?), then you can more easily get the setup running and be able to sta

[2018-11-27 18:27] MPH13 opened #52 "local/system.conf - More generic options"
Have more generic options in the local/system.conf such as intf_names=

This is to provide a generic subset of options so the user can see what a standard system configuration file would look like. This could include both options for a single device and also a switch but simply have them commented out so it's not as expansive as some of the templates in the misc/ directory.

[2018-11-27 19:12] grafnu commented on #52
I'm not sure what you mean, can you clarify?  There is no
"local/system.conf" file in the repo -- that's local configuration so it's
not possible to have something specific there.   How is what you're
suggesting different than the misc/system_*.conf examples?

On Tue, Nov 27, 2018 at 10:27 AM Marc Hobson <notifications@github.com>
wrote:

[2018-11-27 19:31] MPH13 commented on #52
The reason for submitting this issue is that there was no intf_names in the local/system.conf originally. I know it's created at the time of running part of the setup, but it's created from a template I believe (not sure). This was causing major difficulty for me when first trying to run cmd/run -s because there was nothing in the local/system.conf to let me know there was an option for interface

[2018-11-27 19:37] grafnu commented on #52
local/system.conf should be initially populated with misc/system_base.conf
-- if you remove/move your current local/system.conf file and run again it
should populate with the clean defaults. Then, frame any specific
suggestions on what should be there... There is an intf_names entry in that
file.   (If there's not, then there's something else bad going on because
there should be.)

On Tue, Nov 27,

[2018-11-27 20:15] MPH13 commented on #52
All you have mentioned above is correct.

I performed the following for testing:
-Removed local/system.conf
-Ran cmd/run -s
-local/system.conf was recreated exactly from misc/system_base.conf

I feel it was not this way when I originally tested, but is proven true. Will close this issue.

[2018-11-27 20:15] #52 closed

[2018-11-27 20:16] grafnu commented on #52
It was, in fact, changed recently so it very may well have been different
before. The joys of working with a work-in-progress setup.

On Tue, Nov 27, 2018 at 12:15 PM Marc Hobson <notifications@github.com>
wrote:

[2018-11-29 20:38] MPH13 commented on #51
After further understanding the documentation better, I've realized that you must have the "Quickstart" section above the rest so that you're able to run `cmd/run -s` as that creates the `daq/local` directory with the include `system.conf` file. After this is created by running the above, you can then further set up the rest of the networking and other configurations.

I'd like to close this issue

[2018-11-29 20:38] #51 closed

[2018-11-29 23:24] MPH13 opened #55 "Time in inst/faucet.log is incorrect"
The event time in the faucet logs does not represent the actual time.

[2018-12-11 18:58] MPH13 opened #59 "NMAP test fails"
NMAP test fails:
`ERROR:runner:Test Failure: ['03:nmap:1']`
daq/inst folder and other files attached as .zip
[nmap-error-reports-logs.zip](https://github.com/faucetsdn/daq/files/2668916/nmap-error-reports-logs.zip)
![2018-12-11](https://user-images.githubusercontent.com/45016646/49824142-43a8d700-fd36-11e8-87b7-4a1c46566b86.png)

[2018-12-14 15:00] ewRedstone opened #60 "Enumerate expected exposed ports in device configuration file"
It would be nice for Daq to have a  common data store that tests are able to read and write from.

This may trigger additional features in further tests.

i.e. results of nmap scan would then feed into the brute test, that would then enable brute force tests on those ports and protcols found.

[2018-12-14 15:21] grafnu commented on #60
Understood about the use case, but unlikely to be a common data store. What's needed is an if-then capability with parameters. Directly exposing a data-store breaks encapsulation.

[2019-01-09 20:04] MPH13 commented on #45
Issue has been resolved.

[2019-01-09 20:04] #45 closed

[2019-01-27 07:16] grafnu opened #64 "limit incoming bcast traffic"
bcast traffic incoming upstream into a tier-2 switch should be limited appropriately, rather than being sent to all hosts.

[2019-01-27 23:18] #64 closed

[2019-01-27 23:18] #59 closed

[2019-01-27 23:19] grafnu commented on #50
Is this still an issue?   Do we need the feature from the DAQ machine, and/or was the maybe-workaround working?

[2019-01-28 00:01] pisuke commented on #50
I got the local connection working a couple of times (very useful!) but would like to check it thoroughly before closing this. I'll try it tomorrow and report back.

[2019-01-28 00:20] grafnu commented on #50
Can you put together a how-to if there's not already one? If it's useful,
then we should document!

On Sun, Jan 27, 2019, 4:02 PM Francesco Anselmo <notifications@github.com>
wrote:

[2019-02-01 15:57] grafnu opened #65 "Update switcher.md documentation to include more details."
1) Use of "startup_cmds" -- as per misc/system_phy.conf
2) Debug output in test_ping activation logs.

[2019-02-01 16:00] grafnu opened #66 "Make physical switch autostart when ext_ofip is set"
Currently requires a specific startup_cmds line -- less that intuitive. Make it auto-run when ext_ofip is defined.

[2019-02-12 08:57] pisuke commented on #17
Closing this issue as it was related with local configuration on virtual machine showing some sporadic instability with network configuration.

[2019-02-12 08:57] #17 closed

[2019-02-12 09:14] pisuke commented on #32
nmap scans the first 1000 TCP ports with default options.
To add UDP scan the -sU option can be used.
To scan all 65535 ports the -p- option can be used.
This might make the scan very slow though, what do you think?
Perhaps we could have a configuration file to scan for relevant building systems ports?

[2019-02-12 09:57] pisuke commented on #33
The topic of increased verbosity in reports deserves more discussion and alignment in line with the requirements of project reporting and test approval.

At the moment the report output is minimal:

DAQ scan report for device 38:d1:35:02:00:50

############# Report for test nmap
22/open/tcp//ssh///,
53/open/tcp//domain///,
80/open/tcp//http///,
139/open/tcp//netbios-ssn///,
443/open/tcp//https///,

[2019-02-12 10:00] ewRedstone opened #67 "After successive daq run/cmd error message:Local build hash does not match, or not found"
Occasionally after successive daq run/cmd I am receiving terminal message:>
Local build hash does not match, or not found. Please run cmd/build, or if you know what your doing:

The workaround for now is to perform cmd/clean followed by cmd/build which takes 5minutes> everytime to build docker containers, slow process.

[2019-02-12 10:01] ewRedstone opened #68 "local/system.conf host_tests variable parsing"
When using the local/system.conf host_tests variable it would appear that the parsing of local/local_tests.conf file isnt correct as notifed after using command cmd/build in terminal message:> No such file or directoryst_tests.conf

local/system.conf
host_tests=local/local_tests.conf

local/local_tests.conf
include misc/host_tests.conf

The workaround for now is to manipulate tests through misc/ho

[2019-02-12 11:41] ewRedstone commented on #67
Think  this one was being caused by me, as the new build.md doc describes that the misc folder is now watched for changes and effects the build hash

[2019-02-12 11:41] ewRedstone commented on #67
Think this one was being caused by me, as the new build.md doc describes that the misc folder is now watched for changes and effects the build hash

[2019-02-12 11:41] #67 closed

[2019-02-12 14:15] ewRedstone opened #69 "Ping test is failing to physical open flow switch over control plane"
Ping test is failing from test switch interrogation docker container to switch over control plane.

Suspect routing between docker container and switch control plane is at fault.

Even though the startup_cmds=misc/startup_phy.cmd is defined and the bin/physical_sec is running and is able to ping the switch. You can see this working as part of the inst/cmdrun.log

[2019-02-12 14:16] ewRedstone commented on #69
Ping test works when daq is in a faux environment

[2019-02-12 14:16] ewRedstone commented on #69
Ping test fails in a real world environment with physical devices

[2019-02-12 14:42] grafnu commented on #32
I played around with this and scanning all ports is ridiculously slow. This is effected by microsegmentation, which makes it slower, so it might be there's two different scans that are done at different times.

Scanning UDP didn't do anything useful -- the protocol has on built-in reply so it doesn't generally respond to random probes. Then it made it slower.

And yes, a config file for building p

[2019-02-12 14:45] grafnu commented on #33
Thanks -- need to break this down into smaller chunks. All this stuff is
good, but it's really at least three different things: 1) device config
file, 2) small improvements (date), 3) reporting outcome.

On Tue, Feb 12, 2019 at 1:57 AM Francesco Anselmo <notifications@github.com>
wrote:

[2019-02-12 16:37] grafnu commented on #68
I'm having trouble reproducing and/or don't understand the
problem/question.  Se output below -- same logic, but I've added a few
extra debugging lines (which I'll push upstream as part of this fix).  What
part of the output below isn't working for you?  If you include the exact
output from when you run the command (like I did below), it might be more
illustrative.

~/daq$ *fgrep host_tests local/

[2019-02-13 05:05] grafnu commented on #69
Problem was due to an overly complex configuration mechanism, and bad documentation. Both fixed now.

1. Should work with your current config setup.
2. No longer necessary to have the specific startup_cmds entry (although it shouldn't cause any problems)

Please update to latest and try again.

[2019-02-13 06:06] #42 closed

[2019-02-13 06:06] #40 closed

[2019-02-13 06:07] #48 closed

[2019-02-13 06:11] grafnu commented on #55
faucet logs are in UTC -- so same time, just different timezone.

[2019-02-13 06:11] #55 closed

[2019-02-13 06:11] #14 closed

[2019-02-13 08:39] #69 closed

[2019-02-13 08:39] #66 closed

[2019-02-13 08:39] #65 closed

[2019-02-14 15:40] grafnu opened #70 "Scalability problems with many ports"
Works OK with a 6-8 port switch setup, but using a full 48-port switch causes performance problems. Likely related to an O(n^2) algorithm somewhere in Faucet or OVS. Workaround is to keep sec_port set to something small, but eventually this needs to be sorted.

[2019-02-14 15:49] grafnu opened #71 "Improve build time"
Make a way to just rebuild one test, not everything.

[2019-02-14 16:43] pisuke commented on #35
I'm closing this issue since it is related to OS system networking instability on virtual machines.

[2019-02-14 16:43] #35 closed

[2019-02-14 16:44] pisuke commented on #39
Tested on Ubuntu 18.04 and it is building correctly after the fix.

[2019-02-14 16:44] #39 closed

[2019-02-19 16:23] pisuke opened #72 "Suggestion: device config file"
Add a device config file input by the tester/end user that contains device make / device manufacturer / firmware version in addition to MAC address (these should be provided manually by the end user in a configuration text file).

Possibly, this information can also be derived programmatically via nmap scripts like this one.
https://github.com/nmap/nmap/blob/master/scripts/bacnet-info.nse

[2019-02-19 16:26] pisuke opened #73 "Suggestion: small reporting improvements - date/timestamp"
Would it be possible to add the report date/timestamp. To the report output text?
At the moment, the date is only included in the filename.

[2019-02-19 16:27] pisuke commented on #33
Thanks, I've split this suggestion/feature request into three:

device config file: https://github.com/faucetsdn/daq/issues/72
small improvements: https://github.com/faucetsdn/daq/issues/73
reporting outcome: let's continue tracking this issue for the remaining points.

[2019-02-22 13:58] grafnu opened #74 "Improve test_many stability"
Improve the stability of test_many, which fails sometimes due to Faucet load.

[2019-02-22 22:38] grafnu commented on #73
Fixed by https://github.com/grafnu/daq/pull/91

[2019-02-22 22:38] #73 closed

[2019-02-23 18:18] grafnu commented on #72
Fixed in https://github.com/grafnu/daq/pull/92

[2019-02-24 06:41] #33 closed

[2019-02-24 06:42] #72 closed

[2019-02-24 06:42] grafnu commented on #31
Fixed in https://github.com/grafnu/daq/pull/92

[2019-02-24 06:42] #31 closed

[2019-02-24 17:25] pisuke opened #75 "Merge changes from forked wiki repo"
I understand that the following should work to merge changes from the following forked wiki repo
[https://github.com/pisuke/daq.wiki.git](https://github.com/pisuke/daq.wiki.git)
according to the instruction provided at this [link](https://gist.github.com/larrybotha/10650410).

The owner of the original repo (https://github.com/faucetsdn/daq.wiki.git) should do the following.

[code]

[2019-02-24 22:24] grafnu commented on #75
Published https://github.com/faucetsdn/daq/wiki

The hardest part of this, of course, was figuring out how to authenticate when I pushed!

[2019-02-24 22:24] #75 closed

[2019-02-26 00:03] grafnu opened #76 "Address security alerts"

[2019-02-26 14:47] grafnu opened #77 "Tutorial needs to be re-written to not reference ZodiacFX."

[2019-02-26 18:45] ewRedstone commented on #68
I fixed this myself by re-copying the file misc/host_tests.conf > local/local_tests.conf.

Seemingly the original cause is the line endings got messed up and the parser is perhaps only parsing by LF

[2019-02-26 18:49] grafnu commented on #68
Line endings have been a problem in the past, yes.  Somewhere something
injects windows-style endings which can cause a real problem in multiple
parts of the system!

On Tue, Feb 26, 2019 at 10:45 AM Edward Williams <notifications@github.com>
wrote:

[2019-02-26 18:50] grafnu commented on #68
Closing for now. Re-open or file a new request if this is a persistent problem, then we'll need to track-down the source of said line-endings.

[2019-02-26 18:50] #68 closed

[2019-02-27 11:32] ewRedstone opened #78 "Docker build fails if test name length too long"
If the Dockerfile.test_xxxxxx name length too long then cmd/build fails.

Workaround for now to keep test names short.

[2019-02-27 13:11] grafnu commented on #78
I'm not going to be able to fix Docker, so this is a fundamental limit
(length of docker image) -- what's the *problem* that it's causing you?
Why can't you just keep the test names short?  (I can think of lots of
reasons, but I need to know the problems that it's causing *you*)

On Wed, Feb 27, 2019 at 3:32 AM Edward Williams <notifications@github.com>
wrote:

[2019-02-27 13:34] ewRedstone commented on #78
Its not effecting me, you requested that this captured in the issues ?
In the last PR you suggested I could name the test_switch_xxxx and I replied with I can't because Docker doesnt handle long names.

[2019-02-27 13:51] grafnu commented on #78
That's what's effecting you: "I can't create a hierarchical named test"

On Wed, Feb 27, 2019 at 5:34 AM Edward Williams <notifications@github.com>
wrote:

[2019-02-27 17:51] grafnu opened #79 "Update validator to register/validate devices into Cloud IoT registry."

[2019-02-27 21:07] grafnu opened #80 "Test groups need to wait before cleanup."
If one device's test finishes, it should linger until the entire group is finished (mirror startup)

[2019-02-27 21:08] grafnu opened #81 "Update DAQ to work with generated topologies"
Specifically need multi-tiered hierarchy rather than just "secondary"

[2019-02-27 21:09] grafnu opened #82 "Faux device reset BACnet on new IP"
When IP address changes (b/c new test run), the BACnet simulator needs to restart!

[2019-02-28 05:49] #76 closed

[2019-02-28 13:36] pisuke opened #83 "DHCP short lease test"
Implement a subtest of the dhcp module (suggested name dhcp.shortlease), where DAQ sets initially a 1 minute lease and then checks that the device re-requests DHCP after 1 min. Then DAQ sets a long term lease and starts the next tests.

[2019-02-28 13:41] pisuke opened #84 "Provide a way to hierarchically name tests"
This feature request is about enabling hierarchical naming of tests, for instance switch.port.link

[2019-02-28 13:46] pisuke opened #85 "Provide the capability to select tests and sub-tests per device via console"
The end user of DAQ should be able to select / unselect tests and subtests in a file inside the /local folder.
I understand that at the moment this is provided in misc/host_tests.conf as a blanket setting but it would be useful to have it on a per-device basis.

[2019-02-28 14:09] pisuke opened #86 "Include output of all tests and subtests in reports"
It is required for all the selected tests to have an output in the report, which must show the pass / fail state and relevant information from the test log.

[2019-02-28 14:10] grafnu commented on #86
How is this different than the current behavior?

It is up to each test to determine what is shown in the report, "relevant
information" is test-dependent.  Something like the "fail" will never have
any relevant information, so would never be shown.

Maybe need to identify a more specific use case that currently does not
work and then we can identify the proper fix.

On Thu, Feb 28, 2019 at 6:09 A

[2019-02-28 22:01] grafnu opened #87 "Explore using TAP/TUN interface for cloud-based deployment"

[2019-02-28 22:06] grafnu commented on #87
https://en.wikipedia.org/wiki/TUN/TAP

[2019-03-01 11:09] ewRedstone opened #88 "JSON Format incorrect daq/schemas/udmi/state_pointset.json"
JSON format Incorrect extra comma not required

 "units": {
              "type": "string",
            },

[2019-03-01 17:33] grafnu commented on #84
Need to know what the use case is. Three are multiple names in the system, so I need to know specifically what you want to achieve -- e.g. show up in a report, for filtering test execution.

[2019-03-01 22:54] grafnu opened #89 "Faux device fail when interface down/missing"
Interface detection code is fragile -- need something better to indicate an interface rather than port# or faux option.

[2019-03-01 23:34] grafnu opened #90 "Need to cleanup/clarify switch test report output."
Need clarification on useful test output to include in the report.

[2019-03-02 01:22] grafnu commented on #85
In order for this to be considered "Urgent" I need a sense of exactly what it is that's being blocked, and what can't be done without it. An "urgent request" basically means "stop other things and maybe take some shortcuts to get it fixed" so it should not be used without clear justification.

[2019-03-05 10:55] pisuke commented on #85
We're approaching the phase where automated tests on different devices will be needed and this mechanism will allow the end user to just plug and unplug devices, after having created different configuration files for them. The key reason is that when two devices having different sets of test requirements (for instance PoE vs non-PoE) are tested, the testing can happen in parallel without showing f

[2019-03-05 15:56] pisuke opened #91 "Set up device configuration repo"
Set up a site specific configuration repo using git for managing device configurations.

[2019-03-06 02:31] grafnu commented on #60
Would like to identify an exact use-case where this is desirable.  The example of "should run brute or not" I think it better handled through explicit configuration, not dynamic adjustment.

I realized there are provisions for doing this already, but I wouldn't want it to be used unless it was demonstrably the right thing to do.

[2019-03-07 11:07] pisuke commented on #86
The use case for this issue is that the full output of each test must be shown in the report for project managers and designers to approve.
Here is a suggested structure of the report.

Device identification (device name, device mac address, from configuration file edited by user)
Device description (from configuration file edited by user)
Report date

Report summary
(table of all tests and subtes

[2019-03-07 12:49] grafnu commented on #86
K -- this is helpful as an overall outline.  Once we have a concrete
specific example we can iterate to see what needs tweaking.

On Thu, Mar 7, 2019 at 3:07 AM Francesco Anselmo <notifications@github.com>
wrote:

[2019-03-07 13:58] grafnu commented on #83
Waiting for review of PR, then this will be an issue for test development, not the framework.

[2019-03-07 15:50] grafnu opened #92 "Clean up UDMI documentation to have better field descriptions"
specifically more direct clarity around logging events (e.g. links to stackdriver)

[2019-03-07 22:29] grafnu opened #93 "Calculate overall time to test a device"
Just something useful for tracking system behavior. From device-detect to test-finished!

[2019-03-07 23:57] pisuke commented on #93
Great idea!

[2019-03-08 00:35] pisuke commented on #60
The idea of conditional tests sounds good in this specific instance.
I think that the sequence of operations could be:
nmap scans ports
for each port that is open, execute brute test on that port using the relevant protocol(s)
save output log and test results to report

I think that the data store could be useful though for storing results of soak tests and let a soak test module parse them and cr

[2019-03-08 00:43] pisuke commented on #83
@ewRedstone can you please check code and approve review so that Trevor can merge the code of the DHCP timeout and scan result?
This will then need a little bit of test dev that we can discuss next Tuesday. Thanks!

[2019-03-08 00:48] grafnu commented on #60
All exposed ports should be explicitly listed in the device config file
(when I create that) -- I don't see why it needs to be conditional on port
scan.  Similarly, the port scan should fail if it discovers an open port
that's not explicitly listed. Really, this issue should then be "need a way
to figure out which ports to run brute test on" -- not presuming a solution
(shared config).

Soak test

[2019-03-08 00:49] pisuke commented on #84
The main use cases I can think of now are:
1. selecting/deselecting tests and sub tests (test filtering)
2. showing the name of the test and subtests in the reports
3. grouping tests according to test domain to enable code reuse
4. rationalising the tests classification (not much to do with programming, but still useful!)

[2019-03-08 17:44] grafnu opened #94 "Meta-test for DHCP soak-test"
Need a soak-test mechanism that captures a flaky test (e.g. DHCP).

[2019-03-11 13:17] pisuke commented on #60
OK, thanks Trevor. So shall we say this can be closed by acknowledging the appropriate action is to add support for a device configuration file that has test configuration options?

[2019-03-11 23:46] grafnu commented on #60
I updated the title to reflect the desired work -- we can keep this issue open.

Summary: I will implement the capability to explicitly specify exposed ports for a device, and that device configuration can then be used to guide which ports are probed by a given test.

[2019-03-12 00:10] grafnu opened #96 "Crash on move-interface fail"
[code]

[2019-03-12 11:36] #83 closed

[2019-03-12 12:45] grafnu commented on #91
Here's an example - https://source.cloud.google.com/bos-ie-dub-grcq1/site_config -- I'm not exactly sure what this issue would be, since it's site-specific (there's one "one" device configuraiton repo). So there should likely be one for development (Ed), and then a separate one for whomever is doing actual qualification.

[2019-03-12 15:56] pisuke opened #97 "Add a mechanism for doing long quiescent pcap"

[2019-03-14 18:56] grafnu commented on #96
I have been unable to reproduce this -- my system has been up and going for many days. How often does this happen?

I added some more debugging as per [#107](https://github.com/grafnu/daq/pull/107), but if this happens again file a new bug and/or re-open this one.

[2019-03-14 18:57] #96 closed

[2019-03-14 22:52] grafnu commented on #70
This should be fixed as per [an updated faucet version](https://github.com/grafnu/daq/pull/106).  Assigning back to Francesco to figure out how/when to test to validate that it's done.

[2019-03-15 04:56] grafnu commented on #86
Addressed in https://github.com/grafnu/daq/pull/108

[2019-03-15 04:56] grafnu commented on #71
Addressed in https://github.com/grafnu/daq/pull/108

[2019-03-15 04:57] grafnu commented on #84
Addressed in https://github.com/grafnu/daq/pull/108

[2019-03-15 14:56] grafnu opened #99 "Source release test images from dockerhub"
e.g., daqf/test_ping:0.9.5 should be a downloadable thing to speed up system use for a released version.

[2019-03-15 15:38] #84 closed

[2019-03-15 15:38] #71 closed

[2019-03-15 15:38] #86 closed

[2019-03-15 18:41] grafnu opened #100 "don't rename faux phyiscal interface"
when using faux with a physical interface, don't rename it when it's moved into the container... so when the container is killed it appears bash in the host properly.

[2019-03-15 22:56] grafnu opened #101 "Create standalone documentation for using cmd/faux"
pull image
run image
execute in image
options
etc...

[2019-03-18 19:18] grafnu opened #102 "Need timeout on tests in case they hang"
Had a problem with the switch test occasionally hanging. Need a way to have a (configurable) timeout on them.

[2019-03-19 11:40] pisuke commented on #60
I've moved this issue to the pressing items, noting we're targeting completing the brute module soon.
The understanding is that this will be implemented as an additional per-device configuration file in the daq/misc/test_site/mac_addrs/9a02571e8f01/ folder, or similar folder.

[2019-03-19 11:58] grafnu opened #103 "Make example module outputs CAPS"
SKIP base.switch.ping
PASS base.target.ping target
PASS security.ports.nmap

[2019-03-19 12:00] grafnu opened #104 "Add report summary description text."
=============== Report summary

Test results codes:
PASS - the test has been successful
FAIL - the test has been unsuccessful
WARN - the test has generated one or more warnings
ERRR - the test has generated one or more errors

[2019-03-19 14:35] pisuke commented on #70
OK, testing it shortly at the 2PS test rig.

[2019-03-19 16:01] pisuke commented on #91
New site location
https://source.cloud.google.com/faucet-core-dev/site_config

[2019-03-20 23:12] grafnu opened #105 "Switch to production DHCP lease time after long-lease verified."
Three stages required:

short: 2m
long: ~5m
full: ~1h

[2019-03-20 23:14] grafnu commented on #97
Ok, the [monitor_scan_sec](https://github.com/faucetsdn/daq/blob/master/misc/system.conf#L65) config option is already there. It defaults to 30s, but can be set to whatever necessary. Then it can be accessed through a file, [something like but not exactly the same as this],(https://github.com/faucetsdn/daq/blob/master/misc/runtime_configs/discover/port-01/ping_runtime.sh#L2) in a docker test.

I'm

[2019-03-21 09:48] pisuke commented on #97
Thanks Trevor, giving it a try with Ed shortly.

[2019-03-21 10:52] pisuke opened #106 "Include validation and report output in switch.poe tests."

[2019-03-21 10:53] pisuke opened #107 "Include validation and report output in tls test."

[2019-03-21 12:12] pisuke commented on #70
Tested after git pull, doing a cmd/run -s.
The error below stopped the cmd/run execution.
I fixed it by activating the venv and manually installing the python yaml library.
pip3 install pyyaml
I've pushed [PR #115 ](https://github.com/grafnu/daq/pull/115) on the grafnu fork for this.

Done with local switch setup.
Entering virtual python environment...
Using python3 at /home/tester/grafnu/daq/venv

[2019-03-21 12:41] pisuke commented on #70
Done test after fixing the pyyaml dependency and unfortunately it failed.
Here is part of the DAQ command line log

INFO:gateway:Detach target 33 from gateway group 40bd32ebd57c
INFO:runner:Retiring target gateway 33, 40:bd:32:eb:d5:7c, 40bd32ebd57c, 33
INFO:gateway:Terminating gateway 33/40bd32ebd57c
WARNING:runner:Suppressing future tests because test done in single shot.
INFO:runner:Remaining t

[2019-03-21 13:05] grafnu commented on #70
Is that repeatable?  (Does it happen every time?)   Also, if you
reconfigure the system back to 6 max ports, does it still happen?

On Thu, Mar 21, 2019 at 5:41 AM Francesco Anselmo <notifications@github.com>
wrote:

[2019-03-21 17:28] pisuke opened #108 "Use markdown for tests report"

[2019-03-26 10:09] ewRedstone commented on #106
addressed in #113

[2019-03-26 10:29] pisuke opened #109 "Develop BACnet tests"
The BACnet tests will include:

bacnet.version #132
bacnet.addr_unique #131
bacnet.pic #130
bacnet.compliance #129

[2019-03-26 10:34] ewRedstone commented on #109
I've started BACnet discovery for device endpoints.

I am now developing towards BACnet points inside device endpoints.

[2019-03-26 10:39] pisuke opened #110 "Develop network.min_send test"
VALIDATION:
Check in packet capture file or tcpdump log with timestamps that within 5 min the device has output any type of network packet

[2019-03-26 10:40] pisuke opened #111 "Develop dhcp.long test"
SUGGESTED IMPLEMENTATION:
Use the misc/increase_leastime script to enable a longer DHCP lease.

VALIDATION:
Check with tcpdump that a DHCPREQUEST message is sent by the device after the lease has expired.

[2019-03-26 11:40] ewRedstone opened #112 "Include validation to switch.port.toggle test."
Test implemented into switchtest.

Validation needs to be completed.

[2019-03-26 11:56] pisuke opened #113 "Include validation to ntp.support"

[2019-03-26 12:43] pisuke commented on #70
The DHCP ACK error is sporadic, but the failure is repeatable.
Here is the log (please scroll to end for more info)

root@skynet:/home/tester/grafnu/daq# cmd/run -s
Loading config from local/system.conf
Starting Tue 26 Mar 12:29:58 GMT 2019, run_mode is local.
Clearing previous state...
Loading config from local/system.conf
Release version 0.9.5
cleanup_file=inst/exrun_cleanup.sh
ext_addr=192.168.

[2019-03-26 12:54] grafnu opened #114 "Doesn't work for test ports >= 26"
Because math is lazy. Port 26 means port-set 260 which is not a valid subset.

[2019-03-26 12:56] grafnu commented on #70
Sigh -- I forgot about that.  I filed https://github.com/faucetsdn/daq/issues/114 for that issue, since it's a bit different.

Can you try with a max port of 24?

(Also, for lots of log files it's probably better to attach them rather than include them inline -- after a while the UI gets hard to use with long log listings!)

[2019-03-26 16:00] pisuke opened #115 "Add a network tap that saves a pcap file for all the traffic on the device port"
This pcap file will be useful to run a range of checks at the end of the test.

[2019-03-26 18:43] anurag6 opened #116 "sudo cmd/run -s throws ModuleNotFound exception"
Running sudo cmd/run -s after building throws an exception since it cant find the PyYAML module. Issue has been seen in both rodete and vanilla Debian.
[code]

Also seen in

[code]

[2019-03-27 14:11] grafnu opened #117 "Tutorials shouldn't require sudo"
Commands (cmd/build) shouldn't require sudo to run (e.g. in the tutorial). If there are problems that require it then they should be identified and fixed.

[2019-03-27 22:38] grafnu commented on #108
https://github.com/grafnu/daq/pull/116

[2019-03-27 22:38] #108 closed

[2019-04-02 16:11] pisuke opened #118 "Soak test reporting feature"
This feature enhancement is to enable the reporting of the outcome of multiple tests which have run on DAQ for a long time (hour, day, week).

Would it be possible to have a module that at a specific time (after 1 hour, after 1 day, after 1 week) parses all the test results files and finds errors/test failures?
This could also be posted to the Firebase dashboard as an additional test line.

[2019-04-02 17:07] grafnu commented on #118
I'm not sure what to say as it's a fairly non-specific request. Can you distill it down to a specific example of what this might look like?   Just a sample of what a soak test report might look like?

[2019-04-04 13:40] InBrewJ opened #119 "`sudo bin/setup_base` does not install openvswitch on Ubuntu 18.04.2 LTS"
Running `sudo bin/setup_base` results in the following output:

E: Package 'realpath' has no installation candidate
Installing for ubuntu bionic
deb http://packages.wand.net.nz bionic main
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2221  100  2221    0     0   4105      0 --:--:-

[2019-04-04 23:31] pisuke commented on #118
OK, here is an example.

** Module Soak

*** Soak test - 1 hour

| Number of DAQ runs |   19  |
|--------------------|-------|
| PASS               |   17  |
| FAIL               |    1  |
| WARN               |    1  |

[code]

[code]

*** Soak test - 1 day

| Number of DAQ runs |   450 |
|--------------------|-------|
| PASS               |   448 |
| FAIL               |     1 |
| WARN

[2019-04-04 23:34] pisuke commented on #97
Initial tests implementation in [PR 119](https://github.com/grafnu/daq/pull/119)

[2019-04-05 00:07] grafnu commented on #119
Thanks for the great bug report. I'm not sure what to do with it though, since I think it has to do with your local system setup. I ran it on a new Ubuntu 18.04 LTS image, and the package list is different than yours. You have 13 entries, I only have 9.  Was there any information on what the conflicting package was?  I'm hesitant to add the "--allow-downgrades" option because I fear it might break

[2019-04-05 17:58] filinus opened #120 "DeviceID pattern mismatch in the Validator and Schema"
Please compare device id patterns in Validator
`
private static final Pattern DEVICE_ID_PATTERN =
      Pattern.compile("^([a-z][_a-z0-9-]*[a-z0-9]|[A-Z][_A-Z0-9-]*[A-Z0-9])$");
`
https://github.com/faucetsdn/daq/blob/61589b09b60e348a5035d4a025a02183af2195f0/validator/src/main/java/com/google/daq/mqtt/validator/Validator.java#L47

vs JSON schema:
`
    "deviceId": {
      "type": "string",
      "

[2019-04-07 21:02] pisuke commented on #109
BACnet device and endpoints scans included in [bacnet4j update](https://github.com/grafnu/bacnet4j/pull/1).

[2019-04-08 01:51] grafnu commented on #109
I'd be curious to know how you expect to implement the "addr_unique" test, since it's impossible to do for a single device under test (since you need to have the complete set of devices to know if any given address is unique).

[2019-04-08 17:56] grafnu commented on #97
I'm closing this issue out unless there's something specifically I should be doing for this.  If the tests are captured in PR 119 then things can be addressed there.  If there's something new that I need to do then either re-open this or file another issue.

[2019-04-08 17:56] #97 closed

[2019-04-08 17:59] grafnu commented on #118
Good example, and discussed, there's two parts I don't understand...

1) What does "relevant" mean?  That's a subjective call, so we need to distill it down to an objective thing that can be automated by the tool.
2) What happens when there's 200 warnings? I don't think this format will scale very well.

I think a format that is more of a table (tests on one axis, and then various runs on the othe

[2019-04-10 19:36] grafnu commented on #60
Fixed/enabled/demonstrated in https://github.com/grafnu/daq/pull/123

[2019-04-10 19:37] #60 closed

[2019-04-16 08:32] aidanparkinson commented on #113
Test renamed `network.ntp.update` in file `Redstone DAQ Device Qualification Test Tracker Triage`

[2019-04-16 08:34] ewRedstone commented on #113
addressed in https://github.com/grafnu/daq/pull/119

[2019-04-16 11:09] ewRedstone commented on #113
grafnu 12 days ago  Owner
I don't understand what this is doing. You won't see ntp or any other unicast traffic in this test container (since it's sent only to the destination) -- I'm confused as to what this test is doing.

  @ewRedstone
ewRedstone 11 days ago  Author Collaborator
This code is for use with the other Docker build file added to this PR. Using the code this way with multiple docker

[2019-04-17 11:19] aidanparkinson commented on #109
@ewRedstone please make pull request for BACnet tests developed so far.

[2019-04-17 16:04] ewRedstone commented on #109
https://github.com/grafnu/bacnet4j/pull/2

[2019-04-25 17:31] grafnu commented on #115
Would request a specific test case for this, to avoid an overly-general solution. Many other test cases (e.g. DHCP) have other solutions.

[2019-05-07 09:21] aidanparkinson opened #122 "IPv6 support"
Please can we develop support for IPv6 within the DAQ framework?

[2019-05-07 15:03] grafnu commented on #85
https://github.com/grafnu/daq/pull/130

[2019-05-07 15:03] #85 closed

[2019-05-13 14:50] pisuke opened #124 "Add summary of manual tests results in the report"

[2019-05-16 11:24] InBrewJ opened #125 "Develop mac_oui test"

[2019-05-16 21:02] grafnu opened #126 "Hold button doesn't work after period of inactivity"
The Web "hold" button stops working after a period of inactivity. This is due to some kind of timeout to the back-end server for the RPC connection. Need to implement a way to catch this disconnect and reconnect the watching capability.

[2019-05-17 10:07] InBrewJ opened #127 "Complete TODO: Test Development in add_test.md"

[2019-05-20 15:29] InBrewJ opened #128 "Develop security.passwords test"

[2019-05-20 15:32] InBrewJ commented on #128
@ktredstone preface each commit with faucetsdn#128

[2019-05-20 16:21] InBrewJ opened #129 "Develop bacnet.compliance test"

[2019-05-20 16:21] InBrewJ opened #130 "Develop bacnet.pic test"

[2019-05-20 16:22] InBrewJ opened #131 "Develop bacnet.addr_unique test"

[2019-05-20 16:22] InBrewJ opened #132 "Develop bacnet.version test"

[2019-05-20 16:35] InBrewJ commented on #109
ss by #132 #129 #130 #131

[2019-05-20 16:50] #109 closed

[2019-05-21 09:06] aidanparkinson commented on #132
Being addressed by pull request [https://github.com/grafnu/daq/pull/138](url)

[2019-05-21 09:07] aidanparkinson commented on #131
Being addressed in pull request [https://github.com/grafnu/daq/pull/137](url)

[2019-05-21 09:17] aidanparkinson commented on #125
Addressed by pull request [https://github.com/grafnu/daq/pull/137](url)

[2019-05-22 22:42] pisuke commented on #124
The report needs tidying up by including the following recommendations from Clare and Louis.

These should really be separate issues in the Kanban, just putting them temporarily in one issue.

Reinstate device summary

Report summary needs a conclusion "Device Passed Automated Tests", "Device Failed Automated Tests"

Title should state the manufacturer and model number

Include firmware version, p

[2019-05-23 16:25] pisuke opened #133 "Overall FAIL/PASS test result"
Report summary needs a conclusion "Device Passed Automated Tests", "Device Failed Automated Tests".

[2019-05-23 16:26] pisuke opened #134 "Device make and model number in report title"
Title should state the manufacturer/make and model number

[2019-05-23 16:38] pisuke opened #135 "Automatic scan of firmware version"
At the moment the report templating allows to include the firmware version manually, but it is possible to derive this value programmatically using nmap scripts for BACnet and zeroconf/mDNS.
https://nmap.org/nsedoc/scripts/bacnet-info.html
https://nmap.org/nsedoc/scripts/dns-service-discovery.html
This could either be a framework or test development addition. Any advice, comments?

[2019-05-23 16:42] pisuke opened #136 "Process object in test GUI to include number of test attempts"
Add attempts_number in the schema validation and report template

[2019-05-23 16:43] pisuke opened #137 "Reports generating twice"
Fix report output to generate only one report.
At the moment there is a bug that output two reports, 1 showing half of the information from the test and the other is a full report.

[2019-05-23 16:49] pisuke commented on #118
Resurrecting this issue.
The soak testing feature that allows to see the full test report history is no longer appearing, so possibly broken in the firebase UI. Can this be fixed?
On this note, is it possible to discuss how the test report history can be made persistent?
At the moment when DAQ is restarted, all the history is lost.

[2019-05-23 16:52] pisuke opened #138 "Automatic web ui refresh after manually editing module_config.json files."
When the module_config.json file is edited manually, in order to get it refreshed in the GUI, DAQ has to be restarted.
Would it be possible to enable automatic refresh when the file is saved?

[2019-05-23 16:55] pisuke opened #139 "Add test categories and status summaries to report"
Add compliance category result summary section to between Device description and Device documentation.

[2019-05-23 16:55] pisuke commented on #139
This needs a clear definition as it has implications on the framework.

[2019-05-28 15:40] grafnu commented on #135
This would be a test module, not framework addition.

[2019-05-28 15:44] grafnu commented on #137
Needs to be reproduced locally.  Francesco to provide more details on what the failure looks like.

[2019-05-28 15:52] pisuke opened #140 "Add capability to access auxiliary device configuration files from test docker container to be available at run time test"
Some tests will need to access auxiliary files stored in the local/site/mac_addrs/##:##:##:##:##:##:##:## folder.
Can DAQ volume map this folder so that the test docker container can access them?

[2019-05-28 15:53] grafnu commented on #138
Can you include an example of exactly what this change is like?  Sample JSON would be nice -- just to show what exactly the change needs to be.  Ideally all this would be done through the web-UI, without having to resort to editing files on the disk.

[2019-05-29 18:06] pisuke commented on #137
Steps to reproduce the problem.

git pull configurator branch of DAQ
https://github.com/grafnu/daq/tree/configurator

build DAQ

Configure in test_lab mode
https://github.com/grafnu/daq/blob/configurator/docs/test_lab.md

Configure Firebase UI

cmd/run -n

Click hold button in Firebase UI

check reports generated in inst/reports, there are one with data in it and one empty.

I've attached the two

[2019-05-30 07:01] ewRedstone commented on #107
https://github.com/grafnu/daq/pull/101

Tested end to end with real devices and faux devices. Also tested with Travis CI

[2019-06-04 19:53] grafnu commented on #107
I have no idea what this issue is about, so assigning back to Francesco.

[2019-06-05 09:56] ewRedstone commented on #107
@grafnu @pisuke This is essentially the project plan of tests Redstone are developing. Some tests have pull requests associated with them. As I believe as soon as a PR is merged with grafnu/master I assume the issue here can be closed. Or are issues only able to be closed when the grafnu/master has been merged with faucetsdn/daq ? just a questions surrounding process and closing out issues

[2019-06-05 20:46] grafnu commented on #107
Issues can be considered closed when they are pulled into grafnu. The "push
to faucetsdn" part is just administrative (I just push from one to the
other).  The reason for this is just administrative rights, nothing
semantic. For when a "test is completed" question, then it literally comes
down to looking at the device_report.md report summary table of grafnu
<https://github.com/grafnu/daq/blob/mas

[2019-06-06 01:08] sdrayton1066 commented on #137
Reproduced issue on ubuntu-classic-2 : for a given timestamp, two reports are generated, in /daq/inst/reports, one containing data, one with a header but no data, as described above.

[2019-06-07 12:49] #107 closed

[2019-06-07 12:50] ewRedstone commented on #129
Awaiting since 02/04/2019 (ARUP) Francesco Anselmo to define Google MEP Bacnet compliance for each component AHU, PUMP, FCU, BOILER etc. Bacnet Values e.g. COV, min send, max send, min present value, max present value, etc

[2019-06-09 14:53] grafnu commented on #140
Is there an example of what some of these files?  I'm trying to put some controls on what "bleeds" out/in to tests, because it causes management headaches down the line. If the information is simple enough, then it should go in the module_configs.json file (e.g. like port-open mappings).  If there's a sample or two of the expected values then we can sort through the right answer.  Once the door is

[2019-06-10 05:35] grafnu commented on #134
Fixing with https://github.com/grafnu/daq/pull/150

[2019-06-10 08:50] pisuke commented on #140
Sure, here is an example of a csv file (zipped because GitHub wants it) for the BACnet PIC statement test.
[DAQ_PICS - PIC_template.csv.zip](https://github.com/faucetsdn/daq/files/3271268/DAQ_PICS.-.PIC_template.csv.zip)
This file is created from a [spreadsheet](https://docs.google.com/spreadsheets/d/1llJkb9NZ-JidnCHuQRn95A1OoPvvjpPGYo95-5Pe4QY/edit?ts=5ce3f3c1#gid=0).
It is intended to be created

[2019-06-10 12:58] grafnu commented on #137
I think the half-reports are either reports-in-progress (not complete yet), or from termnated run sessions.  At least all the ones I found were like that.  Either way, I updated the code in https://github.com/grafnu/daq/pull/150 to write out the report all at once at the end to avoid the partial version (it just won't be there at all). Either give that branch a try to see if it's fixed, or wait un

[2019-06-10 13:09] grafnu commented on #140
Is that set of information going to be unique to the site-install, a device type, or specific device?

[2019-06-10 14:38] ewRedstone commented on #140
Hi Trevor,

The information is unique to specific device.

However some manufacturers like EasyIO have a standard PIC Statement that all there products comply with.

Hope this helps.

Im wondering if all it requires is a tmp/pic_statements folder as I think it would be good to be able to use pic statements that have already been converted to the csv format over and over again.

Pic statements rare

[2019-06-10 14:51] grafnu commented on #140
How does it differ between specific devices? A specific example would be most useful.  I'm trying to understand the level of granularity that would be most effective.

The "all it requires" answer is not always the right one -- it can often end up being the "easy way out" which just leads to mess later on. I want to understand the underlying need first before jumping in to just the easy solution.

[2019-06-10 15:36] jcbrough commented on #140
I'm not sure that PIC Statements are always a good basis for this, unless we are only considering applying this to BACnet compliant products - which I doubt.

Many controls manufacturers, have BACnet implementations which only expose a very thin veneer of objects and services to the protocol. Where these products are used many of the functions that will be required for a useful IoT device (e.g. ac

[2019-06-10 21:03] grafnu commented on #140
Thanks for the thoughts. The question here wasn't really about "BACnet PIC"
-- that was just a singular concrete example -- but rather what DAQ
framework improvements are necessary to support this sort of test. The
salient question here is "what information should be exposed to a test to
validate device behavior" -- e.g. for a simple network portscan, knowing
that "Port 443 should be open" and "Po

[2019-06-11 07:09] jcbrough commented on #140
Yes agreed. I was a bit worried that too broad a brush was being suggested by assuming that a PIC statement was an easy catch all. With EasyIO and others it plainly is not as there will be other ports that need to be open for the proprietary protocols to work and these need to be factored in.

I guess what we are searching for is some machine readable format to define what is permissible so that w

[2019-06-11 11:08] pisuke commented on #129
I understand that this action is now with Oli.

[2019-06-11 11:10] pisuke commented on #137
Thanks, the explanation makes sense. Tested and all seems good, so closing this.

[2019-06-11 11:10] #137 closed

[2019-06-11 11:16] pisuke commented on #140
Sorry for the late reply on this.

So, the PIC statement is unique for a specific DEVICE TYPE, and the test is to match that the device reports the same capabilities of the PIC statement.

But focusing on the reason for this issue/feature request, I think there is a lot of value in providing the possibility to access a device specific volume from inside a test docker container.
It allows the test

[2019-06-11 11:36] pisuke commented on #135
OK, moving this to test development and reassigning to Redstone.

[2019-06-11 11:38] jcbrough commented on #140
You could do this if you wanted to go so deep into verifying the BACnet objects, properties and services of each device. What I'm not sure of is whether you want to, this work has already been done by an independent verification test house - so long as you only use BTL Listed products.

For reference: the Device Object in BACnet defines the properties that contain this information and you could ve

[2019-06-11 15:34] pisuke commented on #140
Interesting how this thread started with a request to add a volume mapping functionality and has developed into a discussion about BACnet ;-)

Thanks for the comments.
Getting the devices tested once by an independent institution is OK, but I understand that one of the aim of DAQ is to implement continuous testing. In this context, even PIC statement can be checked against a firmware upgrade for i

[2019-06-11 15:43] pisuke commented on #134
Title to be:

Device ***MAC_address***, ***Make*** ***Model***

[2019-06-11 15:48] pisuke opened #144 "Add validation of device types so that they are not free text but come from a standard list"

[2019-06-11 15:52] pisuke commented on #144
The standard list should be from the naming standard. It could be either the IFC class or the description, or something else.

[2019-06-11 16:00] pisuke opened #145 "Add test description for each test in test report summary."

[2019-06-11 16:21] pisuke commented on #139
For each test inside each module we need a functionality for the DAQ test operator to define whether the result of the test is "required pass" or "recommended pass" and a category it is assigned to (for instance "compliant" or "smart enabled").

Once DAQ has run all the tests, it then creates two summaries:

1. A total FAIL/PASS result against the categories

2. A summary of how many tests in each

[2019-06-11 16:57] pisuke commented on #136
Addressed in [grafnu/#141](https://github.com/grafnu/daq/pull/141)

[2019-06-11 16:57] #136 closed

[2019-06-11 17:04] pisuke opened #146 "Systems testing"
Add issues for each one of the systems tests.

[2019-06-11 17:26] pisuke commented on #145
This feature request is to add a column in the test report summary that includes a description of each tests.
The description of each test is written by the test developer and included both in the test report summary and in the first line of each test diagnostic output.

[2019-06-11 17:37] pisuke commented on #70
Now tried with max port of 24 and it works fine.
The problem persists with ports higher than 24.
Closing this issue now.

[2019-06-11 17:37] #70 closed

[2019-06-11 17:42] pisuke commented on #118
Hi Trevor, i cannot get the test report history (soak testing feature) to show up when running DAQ with cmd/run. I have a working physical switch setup with the web UI, but when I click on the port-# link there is a page with the header. See attached screenshots below.

<img width="1412" alt="Screen Shot 2019-06-11 at 18 41 12" src="https://user-images.githubusercontent.com/1533891/59294099-882b16

[2019-06-13 00:44] grafnu commented on #140
Currently being addressed in https://github.com/grafnu/daq/pull/152

[2019-06-16 14:04] grafnu commented on #140
This has been done!

[2019-06-16 14:04] #140 closed

[2019-06-16 14:05] grafnu commented on #118
This should be fixed. The history page should be back now!  It will require a redeploy of the Firebase code.

[2019-06-16 14:05] #118 closed

[2019-06-16 21:04] pisuke commented on #140
Thank you Trevor!

[2019-06-16 21:06] pisuke commented on #130
@ewRedstone @JoelRedstone @ktredstone @InBrewJ I've tested the new capability to access auxiliary files as merged with [grafnu#152](https://github.com/grafnu/daq/pull/152) and it is working well, I'll give you an intro to it on Tuesday, or help yourselves before! ;-)

[2019-06-16 22:18] pisuke commented on #118
Great, thank you! Just did a rebuild and all worked nicely. :-)
I'll test this feature on Monday and send some feedback and ideas on how it fits with a soak testing workflow for individual device testing.

[2019-06-18 16:57] pisuke commented on #139
@grafnu the test category should be added by the test operator in the system module_config.json.
For instance this file could look like this with the added subtests selection:

{
  "modules": {
    "tls": {
      "enabled": true,
      "tests": {
         "skip security.tls.v3": "required",
         "skip security.x509": "recommended"
      }
    }
  }
}

I can work on defining the exact template/

[2019-06-18 19:47] jhughesbiot commented on #119
I am experiencing this same issue.

To prevent breaking existing installs, would it be possible to add the --allow-downgrades as a parameter to the binary for those encountering this issue?  Or better maybe still, remove  -y as the default behavior and make -y an acceptable parameter to the binary?  This would allow finer control of the package installs on a per installation basis still allowing c

[2019-06-18 19:50] grafnu commented on #119
Sure, why don't we give it a try?  Can you put together a PR for it and
then either I or Francesco could review... good time to practice me not
being around :-).

On Tue, Jun 18, 2019 at 12:47 PM jhughesbiot <notifications@github.com>
wrote:

[2019-06-18 20:58] grafnu commented on #139
I think the tests should be abstracted away from the modules, so it would
be something more like:
{
  "tests": {
    "security.tls.v3": {
           "result": "required"
     }
   }
}

Or something like that. Not generally a good idea to try and smash fields
together ("skip security.tls.v3") -- so want to find the right structured
way to represent the needful.  I ca

On Tue, Jun 18, 2019 at 9:57 A

[2019-06-18 22:19] pisuke commented on #139
Yes, sorry, that was my bad copy&paste!
I'll do a pass on it tomorrow. Thanks for having a look!

[2019-06-18 22:56] jhughesbiot opened #148 "Running cmd/run java 11 support"
With java 11 installed, you cannot run cmd/run as it is not recognized.

$cmd/run -s
Activating venv
Loading config from local/system.conf
Starting Tue Jun 18 22:39:58 UTC 2019, run_mode is local.
Clearing previous state...
Running as root...
Activating venv
Loading config from local/system.conf
Release version 1.0.0
ovsdb-server is running with pid 8208
ovs-vswitchd is running with pid 8276
Creat

[2019-06-19 14:52] jhughesbiot commented on #148
I fixed this locally by increasing the gradle wrapper for the mudacl files to 5.1.1 and a few associated build files since shadow command creates a slightly different named jar.  I can create a PR for this update unless increasing the gradlew wrapper is an issue for a different part of the build?

[2019-06-19 15:00] grafnu commented on #148
The only strict requirement is that the Travis CI builds complete ok...
There might be some hidden problems, but those parts of the code aren't
"critical".  So, basically wouldn't know it's an issue until you try. Also
note that if you do the PR against my personal repo (grafnu/daq), then it
will run against my Travis CI setup.  For administrative reasons the
faucetsdn/daq repo isn't setup to do t

[2019-06-19 15:19] jhughesbiot commented on #148
I'll get a fork and PR ready to give it shot against that repo then.

[2019-06-19 17:06] jhughesbiot commented on #148
Submitted a PR about an hour ago but the CI is still pending.

[2019-06-19 18:03] grafnu commented on #148
It can get slow when there's a lot of stuff going on... it was a fine setup
when there were only a few people doing things infrequently, but it's not
scaling will. Will have to sort out the dev pipeline soonish...

On Wed, Jun 19, 2019 at 10:06 AM jhughesbiot <notifications@github.com>
wrote:

[2019-06-19 23:21] grafnu commented on #148
I don't see the PR?  Where is it (add link here is easiest)?

On Wed, Jun 19, 2019 at 11:03 AM Trevor Pering <peringknife@google.com>
wrote:

[2019-06-21 09:06] JoelRedstone opened #150 "bin/setup_daq is cloning faucet from the wrong github account"
When running bin/setup_daq or bin/setup_dev daq is cloning faucet from my personal github repo asking me to insert my username and password. The cloning and the overall setup fails if faucet is not present. Below are the logs:

Cloning https://github.com/JoelRedstone/faucet...
Cloning into 'faucet'...
Username for 'https://github.com': joelredstone
Password for 'https://joelredstone@github.com':
r

[2019-06-21 11:58] grafnu commented on #150
Whoops. Reverted change. This should be back to previous in grafnu/master and faucetsdn/master

[code]

[2019-06-21 11:58] #150 closed

[2019-06-21 15:43] pisuke commented on #117
@grafnu I've tested again from a fresh start and sudo is not required for most of the steps except for cmd/build, since it needs docker to run. Docker needs admin rights in normal configurations, unless [these steps](https://docs.docker.com/install/linux/linux-postinstall/) are taken.
Should we add these steps in the wiki and assume docker can be run as user?

[2019-06-21 16:43] grafnu commented on #117
Yes, we should enable that. I think we can automate some of it (put it in the setup script) to help out. I think the one tricky bit is it requires a system restart... but that's easy enough to advise.

[2019-06-21 23:58] grafnu opened #151 "Documentation for qualification report setup."
Add instructions to [qualification.md](https://github.com/faucetsdn/daq/blob/master/docs/qualification.md) on how to set up the system for a "qualification" run -- e.g. a local/site directory that has the right template, etc...

[2019-06-22 00:01] grafnu commented on #151
You can get the details of "how" from Francesco, and then we need to document them.

This is not a tutorial, just the simplest set of information about what needs to be done -- so somebody already familiar with the system can do the needful.

[2019-06-22 02:54] grafnu commented on #133
What's the logic behind the result?  Is it sufficient to say "no required tests fail"?

[2019-06-22 03:00] grafnu commented on #145
This is conflating tests and modules. For tests (base.target.ping) this is already there -- the word "target" is just text that's included in the summary table -- if you want this could be the description. For modules (which I think is what you mean by test diagnostic output) -- that's simply the output of the test so if you want a description there then the test just needs to output it.

If you m

[2019-06-24 14:13] pisuke commented on #133
Yes, it is sufficient.
The logic is:
if no required tests fail, then show an overall pass.

[2019-06-24 15:32] pisuke commented on #139
@grafnu sorry it took a bit longer than anticipated!

Here is a mock up of a portion of the device or device_types module_config.json with the test information/selection enhancements.

{
 "modules": {
   "bacext": {
     "enabled": true
   },
 },
  "tests": {
    "security.tls.v3": {
           "description": "Verify the device supports TLS 1.2 or above as a client",
           "enabled": true,

[2019-06-24 15:45] pisuke opened #152 "Cloud IoT"
Include functionality for Cloud IoT tests

[2019-06-24 15:49] pisuke commented on #152
Addressed in [grafnu#163](https://github.com/grafnu/daq/pull/163)

[2019-06-25 01:56] grafnu opened #153 "examples and configs need updating"
Example files should use "servers" instead of "ports" and nmap schema, as per ./misc/test_site/mac_addrs/9a02571e8f01/module_config.json (correct example)

bad places to check:

./firebase/public/schema_device.json
./qualification/device_module_config.json
./misc/test_site/mac_addrs/9a02571e8f02/module_config.json

[2019-06-25 14:15] pisuke commented on #153
Addressed in [grafnu#164](https://github.com/grafnu/daq/pull/164)

[2019-06-26 15:54] InBrewJ commented on #152
Addressed again in grafnu#165

[2019-06-28 09:08] ewRedstone opened #154 "cannot name a folder aux, reserved by windows OS"
daq/misc/test_site/device_types/rocket/aux/

this folder doesnt work with windows development setups due to aux being reserved by windows OS
basically this did work previously and now doesnt work

[2019-06-28 19:25] jhughesbiot opened #155 "Port Event Run Option Doesn't Start Tests"
After confirming a test lab setup with a Zodiac Switch, I attempted to use the -e with in cmd/run.  If I do this after a cmd/run -s success, it gets to this line:

INFO:runner:If this blocks for too long, see docs/test_lab.md for tips and tricks.

I then unplugged and plugged the cable from the port on the switch and it then spits out:

INFO:runner:Port 2 dpid 123917683867680 learned 50:2d:f4:0f:8

[2019-06-28 22:39] sdrayton1066 commented on #155
Verified as described

[2019-06-29 18:49] pisuke opened #157 "Add device_type to json schema validation"

[2019-06-29 21:51] pisuke commented on #134
Addressed in [grafnu#172](https://github.com/grafnu/daq/pull/172)

[2019-06-29 21:52] pisuke commented on #157
Addressed in [grafnu#172](https://github.com/grafnu/daq/pull/172)

[2019-06-29 21:58] pisuke commented on #153
Merged

[2019-06-29 21:58] #153 closed

[2019-06-29 21:59] pisuke commented on #139
Addressed in [grafnu#170](https://github.com/grafnu/daq/pull/170)

[2019-06-29 21:59] #139 closed

[2019-07-02 09:15] ewRedstone opened #158 "pubber fails testing/test_aux.sh"
Exception in thread "main" java.lang.RuntimeException: While reading configuration file /root/local/pubber.json
        at daq.pubber.Pubber.<init>(Pubber.java:73)
        at daq.pubber.Pubber.main(Pubber.java:61)
Caused by: java.io.FileNotFoundException: local/pubber.json (No such file or directory)
        at java.io.FileInputStream.open0(Native Method)
        at java.io.FileInputStream.open(Fi

[2019-07-02 09:40] ewRedstone commented on #158
This is impacting integration testing, we need clear defined instructions and examples on how to make this work in Travis

[2019-07-02 09:42] ewRedstone commented on #154
this impacts development of subset modules on a windows box

[2019-07-02 15:59] InBrewJ opened #159 "Add JSON validation for test and report config in module_config.json"

[2019-07-02 16:11] pisuke opened #160 "Add test description for all tests in side modules"

[2019-07-02 17:44] InBrewJ commented on #125
fixes faucetsdn#125

[2019-07-02 17:45] InBrewJ commented on #125
fixes grafnu#125

[2019-07-04 14:53] InBrewJ opened #161 "Ensure device_type is pulled from the device_type folder"

[2019-07-04 22:59] pisuke commented on #161
Tested. It is done, but only after DAQ is restarted.
Edit in place only triggers pulling some variables, not all.

[2019-07-04 22:59] #161 closed

[2019-07-04 23:00] #134 closed

[2019-07-04 23:03] pisuke commented on #133
Addressed in grafnu/daq#170

[2019-07-04 23:03] #133 closed

[2019-07-08 15:42] InBrewJ commented on #158
Dealt with in https://github.com/arupiot/daq/pull/8

(please note that the merging of this PR will not _fix_ the problem - it can only be fixed by configuration external to DAQ, which I'll go through tomorrow @ewRedstone)

[2019-07-11 12:57] InBrewJ opened #162 "test_udmi should skip gracefully"

[2019-07-11 17:31] InBrewJ commented on #127
Partially dealth with in:

https://github.com/ktredstone/daq/blob/e6169865d210bebbcef07fdfd7791099fd06e8d3/docs/add_test.md

[2019-07-12 10:38] pisuke opened #163 "Develop bos.cloudiot.validation_payload"

[2019-07-12 10:39] pisuke opened #164 "Develop bos.cloudiot.registered"

[2019-07-16 00:01] pisuke commented on #132
Addressed in arupiot#6

[2019-07-16 00:01] #132 closed

[2019-07-16 11:39] aidanparkinson commented on #32
Still an issue preventing sing-off of security.ports.nmap test. Need a `-p1` option when running `nmap`

[2019-07-16 15:48] #162 closed

[2019-07-23 10:23] InBrewJ commented on #155
@anurag6 Any progress on this?

[2019-07-23 10:32] #152 closed

[2019-07-23 10:33] #146 closed

[2019-07-23 10:33] #117 closed

[2019-07-23 10:34] InBrewJ commented on #117
Closed by https://github.com/arupiot/daq/pull/4

[2019-07-23 10:35] InBrewJ opened #166 "Add test development guidance/philosophy document"

[2019-07-23 10:36] InBrewJ opened #167 "Wiki: Complete tutorial about running a test"

[2019-07-23 11:09] InBrewJ commented on #166
Must include the coding style guidelines: https://google.github.io/styleguide/

[2019-07-23 17:43] anurag6 commented on #155
Not yet, Jason. I hope to get to it by the end of this week.

On Tue, Jul 23, 2019 at 3:23 AM Jason Brewer <notifications@github.com>
wrote:

[2019-07-23 21:35] InBrewJ commented on #155
Great stuff - we were just going through the Kanban earlier and this popped up. You may not need one to reproduce the issue, of course, but do you have a Zodiac switch where you are?

[2019-07-23 21:45] anurag6 commented on #155
We had reproduced the issue on an AT switch and I think we have singled out
the root cause. I just need to get around to fixing it. I don't have access
to a Zodiac switch, but hopefully the fix should work regardless. I will
get back to you in case there are complications.

Thank you !

On Tue, Jul 23, 2019, 14:35 Jason Brewer <notifications@github.com> wrote:

[2019-07-25 14:20] #125 closed

[2019-07-25 14:55] #12 closed

[2019-07-30 09:39] pisuke commented on #135
@InBrewJ

The test should be formatted so that it can be used as a template for other tests.
It should include these variables"

TEST_NAME = testcategory.testname
TEST_DESCRIPTION = "A description of the test to give context about what it is doing. The test passes if this condition is met. The test fails if this condition is met. Or the test if for information only"

The output of the test in the

[2019-07-30 13:44] #127 closed

[2019-08-05 13:26] InBrewJ opened #171 "Update system_module_config.json with cloud repo"

[2019-08-05 14:18] InBrewJ commented on #135
Conditions for security.firmware:

pass -> version **matches** device_info.firmware_version
fail -> version **DOES NOT match** device_info.firmware_version
info -> version found from device but none defined in device_info.firmware_version
skip -> cannot get firmware version from device, ports may be filtered (as with the EasyIO case)

Conditions for security.dns:
info -> services discovered

[2019-08-06 18:51] #171 closed

[2019-08-08 08:20] aidanparkinson opened #172 "Explanatory notes in device reports"
There are a number of tests that do not print short explanatory notes in the markdown device reports for test outcomes. These tests include all those in the `connection` and `poe` modules. Please can we ensure that all tests print a short explanatory note of why the test has reached a given outcome. See screenshot for details:

<img width="686" alt="Screenshot 2019-08-08 at 09 19 25" src="https://

[2019-08-08 08:29] aidanparkinson opened #173 "{module.switch.poe.enable = "false"} out-of-the-box"
I believe the *switch.poe* module requires new default "out-of-the-box" configuration for the following files:

`./qualification/system_module_config.json`

`./qualification/device_module_config.json`

Assuming that the norm initially will be that most devices will not support power-over-ethernet, I believe it would be beneficial if the following were set to `{module.switch.poe.enable = "false"}`

[2019-08-08 08:36] ewRedstone commented on #172
This notes column has only just been introduced on the arupiot fork, this has yet to be accepted by Trevor and also Faucet.

Please can you identify from the current report what data should be in the notes column for each test.

We have plenty of data, identifying what data is more important needs to be defined by a consultant

[2019-08-09 12:32] #130 closed

[2019-08-27 12:10] #135 closed

[2019-08-27 12:11] InBrewJ opened #179 "Investigate BAC0 for an alternative BACnet faux device"

[2019-08-27 14:22] ewRedstone commented on #179
I'm not entirely sure what the value is in this ? we have already developed out the bacnet4j libary in alignment with @grafnu

[2019-08-27 14:23] ewRedstone opened #180 "Ability to use multiple switches"
Currently multiple switches is unsupported, we would like to scale out

[2019-08-27 21:18] pisuke commented on #179
The value is in having a test example and associated faux device that is minimalistic and independent from other tests, mainly for templating, learning and documentation purposes.

[2019-08-27 22:27] jcbrough commented on #179
It will be interesting to see what this tests on the BACnet side. I’ll run some tests of a controller with some BACnet objects and services running against the ARUP IoT DAQ fork next week when I’m back in the UK.

________________________________

[cid:image003.png@01D55D2F.0421D5B0]John Brough – Director of European Operations
Delta Controls Inc.
Mobile:        +44 (0) 7894 094 924

From: Frances

[2019-08-28 07:57] pisuke commented on #179
Thanks @jcbrough, great if you can test it.
This is an example simple test that only discovers firmware information by interrogating the BACnet network using an nmap script.
We decided to write it to show how we can standardise putting information into the report so that the report starts looking useful.
As always, comments are very welcome!

[2019-08-28 09:28] ewRedstone commented on #179
@jcbrough there is a brilliant BACnet pics test written by Redstone that is contained withing the arupiot fork at the moment. All you would need to do is configer the pics csv file in alignment with the BTL labs certificate

[2019-08-28 09:30] ewRedstone commented on #179
@pisuke it would be more worthy you spend the time documenting a feature rich libary bacnet4j that already contains an entire framework for faux devices and testing already developed by Redstone.

[2019-08-28 09:34] ewRedstone commented on #131
this is blocked due to a test container only being able to communicate with the faux device it is aligned with. Unable to test across multiple faux devices from a single test

[2019-08-28 09:38] ewRedstone commented on #128
password test for ssh has been completed. test requires telnet for some unknown reason as telnet not a valid protocol on a google network.
Test also requires https login ? need to investigate further methdoology for scraping and brute force password hacking web pages that could be written in various langauges such as( php, asp.net, nodeJS. java, Spring etc.....)

[2019-08-28 09:39] ewRedstone commented on #129
The team collectively is still unable to define a definitve answer of what BACnet compliance is

[2019-08-29 11:12] aidanparkinson opened #183 "Faux devices for security.ports.nmap scan"
DAQ doesn't seem to include any faux devices to test functionality of the security.ports.nmap test. Please can these be developed?

[2019-08-29 11:14] aidanparkinson opened #184 "Delete assessment of packet loss from connection.port_link test"
Packet loss due to metering is not assessed by the connection.port_link test.

Assessment of packet loss is outside the scope of the connection.port_link test. Please delete this test functionality.

[2019-08-29 11:25] pisuke commented on #183
No need for faux devices, as the main faux containers functionality already accounts for this and the test_aux.sh test checks open and closed ports according to a configuration file used for testing purposes.

[2019-08-29 11:25] #183 closed

[2019-08-30 09:12] pisuke opened #185 "Continuous run of DAQ crashes after a few hours"

[2019-08-30 09:13] pisuke commented on #185
Need to investigate and check logs

[2019-08-30 13:39] ewRedstone opened #186 "test should be able to see more than one faux container"
In certain use case i.e. system wide testing
unique mac address && unique BACnet address testing
requires a single test ability to be able to communicate with multiple faux containers

[2019-09-02 11:59] pisuke opened #187 "Rename base.switch.ping test to base.ping"

[2019-09-02 12:36] pisuke opened #188 "Add option to select/unselect udmi tests"

[2019-09-02 12:54] pisuke commented on #187
False alarm, it's actually correctly named.

[2019-09-02 12:54] #187 closed

[2019-09-02 13:50] InBrewJ opened #189 "Rewrite all subset test bash scripts to output in generic format"

[2019-09-03 12:00] aidanparkinson opened #190 "poe.negotiation invalid test result"
The poe.negotiation test does not return valid test results to meet the functional requirement.

Please implement the following test procedure and re-submit:

Use the switch command "show power-inline interface port#.#.##" to verify that the port is configured to negotiate power {Admin = "Enabled"}

[2019-09-03 12:01] aidanparkinson opened #191 "poe.power invalid test results"
The poe.power test does not return valid test results to meet the functional requirement.

Please implement the following test procedure and re-submit:

Use the switch command "show power-inline interface port#.#.##" and return test result "fail" if either of the following states are TRUE: {Oper = "Fault", power>Max}

[2019-09-03 12:02] aidanparkinson opened #192 "poe.support invalid test result"
The poe.support test does not return valid test results to meet the functional requirement.

Please implement the following test procedure and re-submit:

Use the switch command "show power-inline interface port#.#.##" and return test result "fail" if: {Oper = "Off"}

[2019-09-03 13:28] ewRedstone commented on #190
@aidanparkinson  addressed in https://github.com/arupiot/daq/pull/15

[2019-09-03 13:28] ewRedstone commented on #191
@aidanparkinson addressed in https://github.com/arupiot/daq/pull/15

[2019-09-03 13:28] ewRedstone commented on #192
@aidanparkinson addressed in https://github.com/arupiot/daq/pull/15

[2019-09-03 13:34] ewRedstone commented on #184
@aidanparkinson addressed in https://github.com/arupiot/daq/pull/15

[2019-09-03 16:16] InBrewJ opened #193 "Add new report output to test_macoui"

[2019-09-03 16:16] pisuke opened #194 "refactor switch tests"
output to a separate report text file for each test
add enums for arrays to make code more readable
add description for each test

[2019-09-03 16:16] InBrewJ opened #195 "Add new report output to test_brute"

[2019-09-03 16:16] InBrewJ opened #196 "Add new report output to test_brute"

[2019-09-03 16:16] InBrewJ opened #197 "Add new report output to test_nmap"

[2019-09-03 16:16] InBrewJ opened #198 "Add new report output to test_tls"

[2019-09-03 16:17] InBrewJ opened #199 "Add new report output to test_bacext"

[2019-09-03 16:17] #195 closed

[2019-09-03 16:18] pisuke commented on #167
Now done in this wiki page:
https://github.com/faucetsdn/daq/wiki/Device-testing-workflow

[2019-09-03 16:18] #167 closed

[2019-09-03 16:20] InBrewJ opened #200 "Travis CI is hanging when GCP_SERVICE_ACCOUNT is defined"

[2019-09-06 10:26] ewRedstone opened #201 "Reserved mac adddress list"
Make the internal daq dhcp server use a reserved mac address reservation list

[2019-09-06 10:27] #184 closed

[2019-09-06 10:27] #192 closed

[2019-09-06 10:28] #191 closed

[2019-09-06 10:28] #190 closed

[2019-09-06 10:29] ewRedstone commented on #131
https://github.com/faucetsdn/daq/issues/186

[2019-09-06 10:31] ewRedstone commented on #111
https://github.com/arupiot/daq/pull/14

[2019-09-06 10:31] ewRedstone commented on #110
https://github.com/arupiot/daq/pull/14

[2019-09-06 10:31] #106 closed

[2019-09-11 19:12] jhughesbiot commented on #155
Did this issue ever get resolved or committed anywhere to test out?

[2019-09-17 14:00] InBrewJ opened #202 "Add new report output to test_tls"

[2019-09-20 12:28] InBrewJ opened #203 "Add new report output to test_ping"

[2019-09-23 16:32] InBrewJ commented on #194
@pisuke I made a start on this one [here](https://github.com/arupiot/daq/tree/reformat_report_switch)

The main addition is the [module_manifest.json](https://github.com/arupiot/daq/blob/reformat_report_switch/subset/switches/module_manifest.json) file in the switch folder from which we get the descriptions. With that, we can edit the descriptions of each test without touching the Java and also pa

[2019-09-24 11:22] aidanparkinson opened #204 "poe.support generates invalid "fail" result"
Unable to generate a test result that returns poe.negotiation = "pass" and poe.support = "fail". I don't see any reason why this should be the case, perhaps a bug?

[2019-10-01 16:29] pisuke opened #205 "On grafnu/daq the report output repeats some of the modules in the output."
On grafnu/daq the report output repeats some of the modules in the output.
See attached file for reference, where nmap, brute and discover are repeated.

[report_04a316ea0633_2019-10-01T152041+0000.pdf](https://github.com/faucetsdn/daq/files/3677555/report_04a316ea0633_2019-10-01T152041%2B0000.pdf)

[2019-10-02 10:25] aidanparkinson opened #206 "Device configuration for functional testing of security.ports.nmap"
To understand whether `security.ports.nmap` returns valid integration test results using faux devices, I believe we need to configure all the faux devices with a set of similar "allowed" ports. Does this require a change to daq/misc/test_site/device_types/rocket/module_config.json? Or, might changes be made elsewhere?

[2019-10-02 12:13] grafnu commented on #206
Faux devices are not configured through module_config.json, since that
applies to the tests that are running, not the target.  Basically, if it's
some property of the "device" that would normally (with a physical device)
be configured independently of DAQ, then the faux version is configured
elsewhere.

Specifically look in testing/test_base.sh (the integration test script):

# Check that an open

[2019-10-07 02:28] grafnu opened #207 "network.brute miscategorized"
a brute force attack is a 'security' category test, not 'network'

[2019-10-08 09:01] aidanparkinson commented on #206
Thanks Trevor, I can see where this has all been done now. This helps me a great deal in understanding the functional tests.

[2019-10-08 09:01] #206 closed

[2019-10-08 14:03] InBrewJ opened #208 "Investigate linting the markdown report for, e.g. column width < 80"

[2019-10-08 14:34] InBrewJ commented on #208
@pisuke For this, we could use something heavyweight like:

- https://prettier.io/
- https://github.com/remarkjs/remark-lint#using-remark-to-fix-your-markdown
- etc

This is fine and offers the most flexibility but most of these sorts of applications run on top of node which means that node/packages and *all of its/their transitive dependences* would have to be included just to lint markdown

Or,

[2019-10-08 15:02] pisuke commented on #208
`fold` looks good enough for now, thanks for looking into it!

[2019-10-08 15:11] #198 closed

[2019-10-08 15:11] #194 closed

[2019-10-08 15:11] #199 closed

[2019-10-08 15:48] aidanparkinson opened #209 "security.ports.nmap: invalid faux device test results"
When running /testing/test_aux.sh:
- Device testing reports inconsistent results between faux devices ("pass/fail") when identifying port 443 open.
- Device testing reports BACnet ports is currently out of the coverage of the nmap port scan (BACnet ports not identified as open).

Is there an (unknown to me) justification for this behaviour? This needs an explanation.

[2019-10-08 16:44] InBrewJ commented on #209
@aidanparkinson I'll open a branch trying the nmap `-p-` option. At the moment the command that nmap runs is:

`nmap -v -n -Pn -T4 --open -oG $LOG $TARGET_IP`

which may or may not scan all ports, I'll look into it...

[2019-10-15 13:25] #197 closed

[2019-10-15 13:25] #193 closed

[2019-10-15 13:25] #196 closed

[2019-10-15 13:25] #202 closed

[2019-10-15 13:25] #203 closed

[2019-10-15 13:27] InBrewJ opened #210 "Output PDF report too (try Python impl. first)"

[2019-10-15 15:08] pisuke opened #211 "Add property "poe" in switch object in web app configuration validation code"

[2019-10-17 14:07] jcbrough commented on #179
@ewRedstone, took me a while to get there with this. Found the pics.csv file in the arupiot fork, do you know what BACnet revision this is based on. There are 17 object types contained in it, I haven’t checked the properties yet.

The current revision 19 of ISO-16484-5 has 60 object types. Are there any minimum BACnet requirements for approval in terms of version supported, and / or device profile

[2019-10-22 07:42] #200 closed

[2019-10-29 10:50] #128 closed

[2019-10-29 10:52] InBrewJ opened #212 "security.login"

[2019-11-05 18:35] jhughesbiot opened #213 "TLS tests report V3 success without testing version"
The TLS tests in the security module report for V3 support  but do not tests v3 only for valid certificates.

[2019-11-07 11:24] pisuke opened #214 "running DAQ in cmd/run -n mode skips configured tests"
running DAQ in cmd/run -n mode skips configured tests
also, it could be related: the firebase app put all the tests that don't run after the report column

[2019-11-07 13:55] grafnu commented on #214
As per the [options documentation](https://github.com/grafnu/daq/blob/master/docs/options.md#command-line-arguments), -n is "no test" (or "network only") mode -- so that behavior is working as intended. It should, in fact, skip all tests (configured or not).

Perhaps describe what you're trying to get the system to do?

[2019-11-07 15:51] pisuke commented on #214
The functionality of cmd/run -n has changed from network mode, as it now puts the system into the "hold" state and waits for action from the firebase app to start minimal testing (DHCP for instance) and then generates a report.

Getting the previous "network only" mode with IP address assigned with option -n would be useful so that devices could be configured with the DAQ network switch equipment.

[2019-11-07 16:40] grafnu commented on #214
Can you clarify what behavior you're looking for without getting into the
details (e.g. "-n") -- just "I want a way to put the system in XXX state
such that I can do YYY"

I'm also not sure what you mean by "device is put on hold" -- do you mean
it's sitting there but no tests are actively run?   There is no direct
manipulation of the device, so it can't directly be put into any particular
state.

[2019-11-08 09:46] pisuke commented on #214
I would like to have:

1. a mode where all devices are assigned IP addresses and I can reach them for device configuration (opening a web page for instance).
2. a mode where the system is "ready" but idle and then tests are run based on the Firebase trigger. This allows the configuration to be manipulated via the Firebase app before triggering the test for last minute changes and interactive runs.

[2019-11-08 14:26] grafnu commented on #214
Perfect, thanks -- and then, I assume, if it's the same mode that would
work as well?  E.g.,

"A mode where all devices are assigned IP addresses and are reachable for
configuration, and then tests are run based on the Firebase trigger (after
configuration through Firebase)"

On Fri, Nov 8, 2019 at 1:46 AM Francesco Anselmo <notifications@github.com>
wrote:

[2019-11-21 09:06] aidanparkinson opened #215 "security.password.[x] exception handling"
Line 59 `~/daq/subset/security/security_passwords/src/main/java/setupTest.java` reads `"RESULT skip security.passwords." + protocol + "mac address not found in defaultPasswords.json"`, which is correct in the case of an exception due to `connection.macoui` skip/fail results, but not if the mac address is not found in `defaultPasswords.json` - this line needs to be replaced with two separate except

[2019-11-26 15:19] InBrewJ commented on #32
Sample commands for TCP/UDP

TCP:
nmap -p0- -v -A
UDP: nmap -sUV -F

[2019-11-26 17:00] pisuke commented on #207
This "brute" test at the moment doesn't do anything useful for qualification, so I suggest to disable it in the default daq configuration as it is misleading. Any objections?

[2019-11-28 12:19] InBrewJ commented on #214
@pisuke If I'm off track let me know, but can the behaviour for:

be acheived by `cmd/run -n -k`?

This lets DHCP testing run and the IP addresses appear on the dashboard and then adds a hold test as per:

![image](https://user-images.githubusercontent.com/5684825/69805763-4582d900-11d9-11ea-8139-1e3ef44e7838.png)

This doesn't address anything to do with the following, of course:

[2019-12-03 08:27] #210 closed

[2019-12-20 19:34] jhughesbiot opened #216 "Switch Password Configuration"
There needs to be a way to supply passwords to switches for the switch module.  I have no problems implementing this feature but want to get a consensus on how this should be accomplished.  Add to system.conf?  Different switch module config file?  Looking for suggestions.

[2019-12-20 20:48] grafnu commented on #216
Good question, and I'm not 100% certain. Two options immediately jump to
mind, either one I'd be OK with.

   1. Make it a property of the *system*, so similar to the ext_addr
   configuration in system.conf -- which is where the IP and dataplane ID are
   set, so it has alignment there. This would mean tunneling that parameter
   through the code to get there (just follow the chain starting with

[2019-12-20 21:50] jhughesbiot commented on #216
I don't know if I like it at module_config level, seems too specific to the device.  I'll look into adding it to the system.conf for now and can move it around later if we come up with something else.  This will at least keep all the switch configuration isolated to the same location.

[2020-01-03 17:50] jhughesbiot opened #217 "PICs failures caused by out of date BACnet core module"
Attempting to resolve a pics test failure and why certain objects could be seen by other BACnet scanners and not DAQ.  I found that DAQ is resolving these missing object types as "Vendor Specific." The objects in question are Characterstring, Integer Value and Positive Integer Value which were introduced in 135-2008 Addendum w (http://www.bacnetwiki.com/wiki/index.php?title=BACnet_Standard).  I do

[2020-02-04 15:11] pisuke opened #224 "Onboard Arup staff for test development"

[2020-02-04 15:16] pisuke opened #225 "Tests 34-42: UDP vs TCP nmap test"
Need to split the nmap test into TCP and UDP components. The test is more generic and becomes specific to the selected port in conjunction with a properly set module_config.json file that specifies the port policy.

[2020-02-04 15:19] pisuke opened #226 "Rename tests according to test plan v 3.6"

[2020-02-12 01:10] #102 closed

[2020-02-16 17:41] #208 closed

[2020-02-18 17:00] #207 closed

[2020-02-18 17:01] #209 closed

[2020-02-19 16:17] pisuke commented on #225
Addressed in [pisuke:225-nmap](https://github.com/faucetsdn/daq/compare/master...pisuke:225-nmap)

[2020-02-19 16:17] #225 closed

[2020-02-19 16:21] spectre-storm opened #232 "Onboard Forest Rock for test development"

[2020-02-19 16:26] spectre-storm opened #233 "Tests connection.switch.port_link and connection.switch.port_speed, make sure they works with Cisco switch"

[2020-02-19 16:28] spectre-storm commented on #233
connection.switch.port_link
connection.switch.port_speed

[2020-02-22 22:48] pisuke opened #236 "Remove brute test from list of tests"
@grafnu I'd like to remove the brute test from the list of tests.
It is a confusing test to be there, as it has been done for demonstration purposes and doesn't do anything useful.
Just checking with you it's OK before proceeding.

[2020-02-22 23:01] pisuke commented on #204
If poe.support fails poe.negotiation should also fail. I'll check out the behaviour and report.

[2020-02-22 23:02] pisuke opened #237 "fix security.passwords test"

[2020-02-24 18:36] henry54809 commented on #237
Hey Francesco,
Haoli here. Are you actively working on making telnet test less flaky?

[2020-02-25 00:03] pisuke commented on #237
Ciao Haoli, I haven't started yet, so good to coordinate.
I need to have a better look at the code, but happy for you to lead on this if you've already started.

[2020-02-25 15:40] pisuke commented on #232
[DAQ Test Development intro](https://docs.google.com/presentation/d/1hCb2OvPU7xmRwibw5oClrXIrwV8fhMobUfZT9HsGFzY/edit)

[2020-02-25 16:04] pisuke opened #239 "Go through the test plan, categorise tests and define testing/success criteria if missing"

[2020-02-28 13:47] pisuke commented on #236
Hi @grafnu, any thought on this?

[2020-02-28 15:03] grafnu commented on #236
Fine by me... It's not really a framework feature, so really is up to
policy.

On Fri, Feb 28, 2020, 5:47 AM Francesco Anselmo <notifications@github.com>
wrote:

[2020-02-28 16:34] pisuke commented on #236
Thanks Trevor, OK we'll proceed then.
Hi @OzyOzk this is a good one for you to start familiarising with the test development process. I'm assigning it to you.

[2020-02-28 16:42] pisuke commented on #237
Hi @henry54809 comments? or can I start having a look?

[2020-02-28 16:44] pisuke commented on #205
Fixed in #225 as part of nmap test rewrite

[2020-02-28 16:44] #205 closed

[2020-02-28 16:46] henry54809 commented on #237
I've made a fix at https://github.com/faucetsdn/daq/pull/240 It's as best as I could make it. @pisuke

[2020-02-28 23:23] pisuke commented on #237
Thanks Haoli, I'll check it out. Closing this issue for now then.

[2020-02-28 23:23] #237 closed

[2020-03-03 15:52] #236 closed

[2020-03-03 15:53] #157 closed

[2020-03-03 16:06] spectre-storm opened #242 "Functional review of security.admin.password"

[2020-03-03 16:13] spectre-storm opened #243 "Distribute test development between BIOT, FR and RS"

[2020-03-03 16:15] spectre-storm opened #244 "Validate completed tests from RS"

[2020-03-05 14:47] pisuke opened #247 "Develop the security.tls.v1 test (test#47)"
The following tests must be carried for validation.
1. Minimum version is V1 (this means TLS 1.0) - ERROR if not
2. RSA public key length is 2048 bit minimum - ERROR if not
3. Check if the cipher suite name includes both ECDH and ECDSA with minimum bit length of 224 - WARNING if not.

[2020-03-05 14:48] pisuke commented on #247
@jhughesbiot can you please pick up developing this test? I've put a starting point for the test development and validation. Thanks!

[2020-03-06 23:15] pisuke opened #250 "remove docker_images.txt from misc folder"

[2020-03-06 23:17] pisuke commented on #250
@grafnu should the misc/docker_images.txt file be added to .gitignore?

[2020-03-06 23:22] grafnu commented on #250
No. Do not do this.

On Fri, Mar 6, 2020, 3:17 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-09 16:54] jhughesbiot opened #251 "development branch needed"
Since we are now creating pull requests directly to this repo instead of grafnu, we need a develop branch that should be created to keep code changes directly to master.  The grafnu repo acted like a development branch until now so we should make sure we have that going forwarad.

[2020-03-10 10:01] pisuke commented on #250
Thanks, understood it's the wrong way to address this.
For context, because this file is in a folder tracked by git, and because it changes at every build in a machine/daq instance dependent way, I don't think it is appropriate to keep it in this folder.
Can the file be somewhere else appropriate, or not be generated at all?

[2020-03-10 13:09] grafnu commented on #250
I think for now it should be generated maybe into the inst folder since
it's a parameter of this instance...

On Tue, Mar 10, 2020, 3:01 AM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-10 15:14] jhughesbiot commented on #247
There seems to be some recent updates that have severely caused issues with working with this test.  test_aux.sh runs against 3 aux devices, only two generate reports and there is no output of the security module in any of the run nodes to compare what the actual vs expected results are.  Whatever update broke this ability will likely need to be corrected before I can continue troubleshooting this

[2020-03-10 16:03] pisuke opened #253 "Subdivide test_aux.sh and test_base.sh into smaller chunks."
Subdividing test_aux.sh and test_base.sh into smaller chunks would help with getting the testing cycle quicker.
@grafnu is this something we can work on?
I understand that there is a dependency with Travis so seeking your advice.

[2020-03-10 17:08] jhughesbiot commented on #247
Pulled the most recent code updates and built and reran test_aux.sh.  None of the 3 aux devices seem to be configured to even run the security module anymore so they won't test existing tls tests and aux device one 9a02571e8f01 always completely fails and stops all tests after its ping failure.

INFO:runner:Target port 1 finalize: ['01:ping:Exception'] (Test initialization failure)
INFO:runner:Tar

[2020-03-10 19:31] grafnu commented on #247
Can you point at the specific spot in a Travis test run where you're seeing
the bad behavior?  I looked at the faucetsdn/daq master runs
<https://travis-ci.com/github/faucetsdn/daq/branches> and they seem ok
(except for the flaky security.passwords.telnet test itself).   I think you
may be misinterpreting some of the log output, but I can't tell for sure
because I don't know exactly what you're lo

[2020-03-10 20:25] jhughesbiot commented on #247
I cloned the current code, built and ran the text_aux.sh.  No TLS test is run for any of the nodes. I am not pushing via any PR to travis because I want to verify the test are actually working but am unable to verify the code as is.  Not really sure how else to verify code before creating PR's if local testing isn't supported.

[2020-03-10 21:02] jhughesbiot commented on #247
I think i figured out why it's currently impossible to check the results of all the devices under tests in the current code.  There are 6 devices in the test site and only 3 ports available for DUT's.  As soon 1 of the first 3 are completed, those ports get freed up to run the next 3.  So if you attempt to review the results of one of those first 3 that actually ran the TLS tests, as well as other

[2020-03-10 22:37] grafnu commented on #247
Local testing is supported, but the results should be the same. You can do
the same thing, roughly, is that if the local testing is producing
different results than on Travis, you have a point of differentiation. If
local testing is doing the same thing, then we can talk about how that's
not meeting expectations.  As it stands, I still don't understand exactly
what you're trying to do so I can't c

[2020-03-10 22:43] jhughesbiot commented on #247
I attempted to increase the sec_ports to 7 so that all 6 would run in parallel and not lose any of the nodes being tested but the same limitations of the network exists.  Only 3 devices seem to be possible with the test_aux.sh.  I need to have all the device node reports available at the end of the test. It is impossible to review the results to confirm the reasons for test failures for the TLS mo

[2020-03-11 01:07] grafnu commented on #247
The command "sudo testing/test_aux.sh 2>&1 | tee -a test_aux.log" will
capture the log output into a file so I might be able to help you.
test_aux.sh is setup to only run 3 devices, so it's not going to magically
work with some tweaks that's more than just changing that parameter.  It's
not meant to be a general-purpose testing script, it was a specific set of
integration tests.  If you're just tr

[2020-03-11 01:30] grafnu commented on #253
Good in theory, but it's not always a win like you'd expect. There's a significant starutp-cost for each container, so simply splitting them can make things worse in terms of overall testing.

What exactly about the "testing cycle" are you trying to improve?  If you're doing a development testing cycle while actively working on tests then there's plenty of ways to speed that up without futzing wit

[2020-03-11 09:45] OzyOzk commented on #226
I made the changes on the fork below.

https://github.com/OzyOzk/daq

[2020-03-11 14:53] jhughesbiot commented on #247
The problem is when working on a new test or updating a test module.  Travis will run this test and will have a new output that needs to match the test_aux.out file.  If you have an issue with that module for a specific device and that device's test logs are destroyed by the end of the test, you have no access to the run logs to help troubleshoot.

If there's a way to run a specific module against

[2020-03-11 15:04] grafnu commented on #247
I don't understand what the 6 devices are that you keep referring to.
 When you say "if you have an issue with that module for a specific device"
-- can you give an example of what you mean by "specific device"?  I still
don't understand what you're trying to do and therefore what the problem
might be -- so I'm assuming there's some bad assumptions in here somewhere
about what's going on.

If you

[2020-03-11 15:08] grafnu commented on #247
Also, if you had a branch you're working with that exemplifies the
problem that would really help -- having an actual branch with actual code
would go a long way to specifying what you're trying to do because it
removes all ambiguity. It doesn't need to "work" -- but it will at least be
an exact statement of the situation.

On Wed, Mar 11, 2020 at 8:04 AM Trevor Pering <peringknife@google.com>
wro

[2020-03-11 15:26] jhughesbiot commented on #247
The 6 devices i'm referring to are the 6 mac addresses in misc/test_site that are used during the test_aux.sh.  When the tests start, it has 3 ports available, 3 of those devices get put on an available port and the tests are run.  As each port frees up, the next one available gets loaded onto that port, restarting a test and so the run logs for those first 3 are deleted and replaced with the next

[2020-03-11 15:47] grafnu commented on #247
Ok, so usually in this situation (developing a specific test), I would
recommend streamlining the process to focus down on what you want, rather
than trying to pull out what you want from everything.

If you only care about results from a particular device, then don't run the
other devices. Not only will it be faster, but it won't clobber the results
with results from other devices.

If you are lo

[2020-03-11 16:25] jhughesbiot commented on #253
From what I've seen, the cost of startup is more about the building of the docker images that occurs on each boot.  Maybe there should be a "local" flag added to the test scripts which would use local docker images rather than rebuilding.  This would mean you have to build your specific test module manually but that could at least speed up some of this testing and a minimal extra step to developin

[2020-03-11 16:33] jhughesbiot commented on #247
I should be able to remove that extra run from the test script to review results.

I can see how you removed it from that link and this his probably should be a separate thread at this point but it seems like we should be combining the 6 devices into a single run and comparing results.  A double run command seems like a lot of overhead and increased time to complete the tests and removing it compl

[2020-03-11 16:43] grafnu commented on #253
It sounds like you're trying to bend the integration test suite in the
wrong direction. testing/test_aux.sh was never intended to do what you're
trying to use it for. It's job is to run the entire test integration suite,
not tuned for local development.  If you're trying to iterate and develop a
specific test, then I strongly suggest you just setup your system how you
need it, and then run the com

[2020-03-11 16:54] jhughesbiot commented on #253
Your questions show the issue actually.  If somebody modified a test to do a something different, they don't necessarily know what all the devices are configured for in the aux test but they are forced to have that knowledge.  Without knowing what is expected for every single device for every single test that will be run in test_aux, they can't fix the text_aux.out file and so travis will fail eve

[2020-03-11 17:31] grafnu commented on #253
I don't understand what you're saying. Having complete knowledge of the
system is nearly impossible, but I don't see why you think somebody is
forced to have that knowledge. The only place it's really intended to be
captured is the complete integration test suite ("if it's not tested, then
it doesn't exist") -- but that's not something somebody is supposed to have
in their mind.  This model is fai

[2020-03-11 22:38] jhughesbiot commented on #253
Here's a scenario to help illustrate why you need knowledge of the system to accurately write tests for the integration tests to pass and why it's critical to be able to emulate as close as possible to the travis tests for sanity checks before waiting an hour+ for it to pass/fail in the CI.

Device A is started with configuration B to run on Port C.  This tells Device A to have a passing result fo

[2020-03-11 23:21] #232 closed

[2020-03-11 23:22] pisuke commented on #154
closing this as DAQ is not intended to be developed on windows

[2020-03-11 23:22] #154 closed

[2020-03-12 05:08] grafnu commented on #253
Still sounds to me like you're conflating a test development workflow with
CI integration testing.

CI integration testing is meant to be comprehensive. Speed is not a primary
consideration. It serves a different function than development.

For development of TLS, I would configure the system to run the tls test
just against the three cases { skip, pass, fail }, e.g. using the settings
below (tail

[2020-03-12 22:18] pisuke commented on #166
[Completed here](https://github.com/faucetsdn/daq/blob/master/docs/add_test.md).

[2020-03-12 22:19] #166 closed

[2020-03-12 22:20] #224 closed

[2020-03-12 22:43] pisuke commented on #251
Hi @grafnu not sure what you think about this, as I know you're working on setting up a release cycle. Up to know we've been just working with pull requests which has been OK, but @jhughesbiot is suggesting using a dev branch. Thoughts?

[2020-03-12 22:54] grafnu commented on #251
The reason we had grafnu before was b/c permissions, and who could approve
PRs, but that's been resolved now so the appropriate people should be able
to do a PR against faucetsdn/daq. We're generally following the GitHub Flow
model <https://guides.github.com/introduction/flow/>.  Specifically, then,
all dev work would be done in your own fork on your own branch, and then a
PR is made against fauce

[2020-03-12 23:19] pisuke commented on #253
Just to summarise the discussion, there are two types of tests to "test the tests" that need to be written:

1) Functional tests, which are down to the DAQ test developer to write. They can just be configuration files and could be stored in the subset/foldername/ folder or wherever practical, even be ephemeral, but perhaps a good idea to keep them in the subset/ folders.
Functional tests are to ma

[2020-03-12 23:39] grafnu commented on #253
I don't think this is quite right.

*Functional tests*: There are test modules,
like subset/network/Dockerfile.test_network which is a module that is run
by the framework. This module, when executed, is given a target IP address
and does the needful to generate a report.  I'm not sure what you mean by
"can just be configuration files" -- there definitely needs to be some code
in there that does so

[2020-03-12 23:50] pisuke commented on #253
Thanks Trevor.
What I meant by "can just be configuration files" is that at the moment, as a test developer, I write a config file and run cmd/run -s to generate a report and check all is right.
As you say, introducing unit tests would definitely improve the developer experience and I have the feeling this is what Jonathan was implying.
I will talk about this with Himawan at the next sync then.
Go

[2020-03-13 00:13] pisuke commented on #226
@OzyOzk you must always create branches on your fork when working on an issue. Please refer the issue number in the name of your branch. Can you also merge from upstream please as many things have changed over the past week? Thanks.

[2020-03-13 18:31] grafnu commented on #253
Working on https://github.com/faucetsdn/daq/pull/265

On Thu, Mar 12, 2020 at 4:50 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-13 19:59] grafnu commented on #253
It's not necessarily going to work for everything, but it's good enough for
TLS -- which was my main test case.  I can evolve over time if there's
additional tweaks necessary for supporting other tests.  As per below,
takes ~5s to test TLS (assuming containers are already built), or about 25
sec if there was a change (bin/test_module -b tls tls).

peringknife@peringknife-glaptop3:~/daq$ time bin/t

[2020-03-16 12:43] em-redstone opened #268 "testing/test_aux.sh continuous messages"
Hi guys,

Would like to ask if anyone is also experiencing this recent behaviour from the testing/test_aux.sh script after it finishes? Is there something which needs to be configured now before running the script?

After finishing, it continues to display these messages. I have tested it on a fresh master repository and on several machines and it still persists.

![cropped](https://user-images.gi

[2020-03-16 13:57] grafnu commented on #268
This is happening because you're killing the script interactively (^C), and
there's still a background process running that's waiting for activate.log.
The way to fix it is to look through the process table for the process
that's doing this and killing it.  Or,  you can make that file exist and it
should exit naturally:

touch inst/run-port-03/nodes/hold03/activate.log

test_aux.sh wasn't really i

[2020-03-16 14:11] em-redstone commented on #268
Many thanks for the advice Trevor, will have a look.

[2020-03-16 14:18] #268 closed

[2020-03-17 15:26] spectre-storm opened #272 "Develop security.tls.v1 (test#47)"

[2020-03-17 23:46] pisuke commented on #77
I've added a new tutorial in the wiki session for setting up the [AT x230 network switch](https://github.com/faucetsdn/daq/wiki/Allied-Telesis-x230).
I will also add tutorials for the Cisco 9300 and the Zodiac GX.

[2020-03-17 23:46] #77 closed

[2020-03-19 15:29] grafnu opened #304 "sed log errors in testing"
as per [this travis run](https://travis-ci.com/github/henry54809/daq/jobs/299690753#L4324), there's some sed errors appearing in the logs:

    sed: -e expression #8, char 34: Invalid preceding regular expression
    sed: -e expression #8, char 34: Invalid preceding regular expression

looks like a bad sed expression creeped in and should be cleaned up.

[2020-03-19 18:24] jhughesbiot commented on #253
-b option when running the test module isn't supported or at least doesn't work.

bin/test_module -b tls tls
Activating venv
Loading config from local/system.conf into inst/config/system.conf
Enabling target faux
Enabling target test_-b
Skipping non-enabled daqf/aardvark
Skipping non-enabled daqf/default
Skipping non-enabled daqf/faucet
Build docker/Dockerfile.faux into daqf/faux, log to build/doc

[2020-03-19 18:34] grafnu commented on #253
Sorry -- that was a pre-release flag and I ended up swapping it. So,
"build" is the default, and the "-n" option does "no build"  -- going for
default-consistent rather than default-fast.

bin/test_module tls tls should work as well as bin/test_module -n tls tls

Online documentation should be fine -- just my email was old.

On Thu, Mar 19, 2020 at 11:24 AM jhughesbiot <notifications@github.com>
w

[2020-03-19 19:35] jhughesbiot commented on #253
Was trying the -b option because it wasn't finding the tls module (even though it was already built).  Found the reason why in the docs.  Thanks.

[2020-03-19 20:02] jhughesbiot opened #308 "test_aux.sh never finishes"
Running test_aux.sh never completes it's task.  Constantly running after it finishes.

Tried out the new test_module code to get my results right then ran the test_aux.sh to check the CI output.  After it finishes:

Cleanup docker kill daq-faux-3
daq-faux-3
Done with run, exit 1
01: ['01:ping:Exception']
02: ['02:ping:ValueError']
03: ['03:ping:Exception']

It just keeps running:
/jhughesbiot/daq$

[2020-03-19 22:13] pisuke commented on #251
Thanks Trevor, closing this issue then as all clear. @jhughesbiot no need for development branch because using the [GitHub Flow Model](https://guides.github.com/introduction/flow/).

[2020-03-19 22:13] #251 closed

[2020-03-19 22:14] pisuke commented on #304
OK, noted. Let me have a look.

[2020-03-19 22:49] pisuke opened #309 "gcp_cred triggers need for cloud_iot_config.json"
@grafnu not sure if this is a feature or a bug.

Just pulled fresh code from master and configured with the following:

[code]

DAQ aborts asking for `local/site/cloud_iot_config.json`.
DAQ CLI log below.

[code]

[2020-03-19 22:58] grafnu commented on #309
Internal bug b/151978630

[2020-03-19 23:14] pisuke commented on #309
Cool. Unfortunately I don't have a view of the internal bug tracking at the moment.
Is it P0 or lower priority?
I'll keep it here for visibility to the test development team.

[2020-03-19 23:31] grafnu commented on #309
The internal bug is for our internal work planning. P0 means something is
on fire, so it's not P0.

On Thu, Mar 19, 2020 at 4:14 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-19 23:40] pisuke commented on #309
OK, good to know.
It would be nice to get the web app functionality back at some point, but OK to use the console for now.

[2020-03-19 23:42] grafnu commented on #309
? What do you mean?  It's working fine for us.

On Thu, Mar 19, 2020 at 4:40 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-19 23:49] pisuke commented on #309
Command line works fine but if I add the `gcp_cred` option ins `system.conf` it complains about the `cloud_iot_config.json` file missing.

[2020-03-19 23:51] grafnu commented on #309
Ok -- so it's inconvenient, yes -- but that doesn't mean it doesn't work.
You just need to setup that file.

On Thu, Mar 19, 2020 at 4:49 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-19 23:56] pisuke commented on #309
Indeed, I'll set it up.
But I won't change the wiki tutorials for now. Let's see how many users complain.

[2020-03-19 23:58] grafnu commented on #309
Well, I'm going to fix it before the release goes out.

On Thu, Mar 19, 2020 at 4:56 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-03-20 11:38] em-redstone commented on #308
Hi jhughesbiot,

I also ran into this issue, here is my closed issue, and Trevor's advice:

https://github.com/faucetsdn/daq/issues/268

[2020-03-20 13:39] #250 closed

[2020-03-20 13:55] pisuke opened #312 "Align test categories and expected results in the qualification folder configuration files"

[2020-03-20 13:59] pisuke commented on #272
Same as #247 so closing this one and keeping #247 open.

[2020-03-20 13:59] #272 closed

[2020-03-20 14:06] pisuke commented on #172
This has been progressed to some degree but there are still tests not outputting short summaries:
* `mac_oui`
* all the switch tests

[2020-03-20 14:08] pisuke commented on #215
@OzyOzk is this still a current issue?

[2020-03-20 14:15] pisuke opened #313 "Report formatting: increase space in the "notes" column in the report test result summary."

[2020-03-20 15:27] jhughesbiot commented on #308
I see that that issue you opened was closed but you can see from my reporting, ^C only happens because the the process never ends and is continually trying to do whatever it is with this file even after the entire cmd/run has finished. Seems like even if you interactively killed the process, the process should actually stop right?  Also a mention to a process that is doing this but what process is

[2020-03-20 15:36] em-redstone commented on #308
Hi jhughesbiot,

It seems that it creates another thread/process in the background which continues to look for that file so ^C didn't work for me either.

How I managed to make it terminate was to create the file it was looking for once the messages started coming up:
mkdir  inst/run-port-03/nodes/hold03/
touch  inst/run-port-03/nodes/hold03/activate.log

After that, it should display a message sh

[2020-03-20 15:52] pisuke commented on #308
Until it's fixed, you can terminate the hanging process with something like this:

[code]
where `#####` is the pid number you get from the `ps` command.

[2020-03-20 15:56] OzyOzk commented on #244
Can we link the fork/branch that these tests were developed on. There's multiple RS forks.

[2020-03-20 16:04] grafnu commented on #308
The problem/solution is related to
https://stackoverflow.com/questions/284325/how-to-make-child-process-die-after-parent-exits

The test_aux script creates a child process to do some of the testing... it
automatically exits when some test condition is met.  The problem comes
from abnormal termination of the script, so that the child does not exit.
There's ways around it -- either manually or autom

[2020-03-20 17:31] jhughesbiot commented on #247
What is meant by "WARNING?.  Is this just informative with no effect on the results?  Do we care about it if it doesn't actually effect the result?

[2020-03-21 13:22] yugandharc9 opened #316 "Reports are not getting generated"
We cloned the project.We are following the Wiki. We manually logged out logged in and used `gnome-session-quit` still I is asking the `sudo` for `bin/setup_dev`. This is the log of generated reports but there are no files in the reports. We tried many times please help.

[code]

[2020-03-21 13:30] grafnu commented on #316
It says that reports are getting generated as `INFO:report:Creating report as inst/reports/report_9a02571e8f00_2020-03-21T130738+0000.md` -- and you saying that that file isn't there?  What does the output of `find inst -name \*.md` show?

[2020-03-21 13:39] yugandharc9 commented on #316
Yes that is the issue there is entry in log but file isn't there . Output of `find inst -name \*.md` is blank

[2020-03-21 13:44] grafnu commented on #316
What is the output of `pwd; ls -l inst inst/reports` ?

[2020-03-21 13:46] yugandharc9 commented on #316
@grafnu  This is the output

[code]

[2020-03-21 13:49] grafnu commented on #316
Hmmm -- ok -- I'm working on reproducing. How did you do the original run, what was the exact commant?  Something like `cmd/run -s`?

[2020-03-21 13:52] yugandharc9 commented on #316
Thank you. Yes it was exactly `cmd/run -s`  I ll keep looking too.

[2020-03-21 13:53] grafnu commented on #316
This is where it's going wrong, although I don't know why yet. When I run it that part works ok -- the INFO line is ok, but the ERROR is not.
[code]

[2020-03-21 13:54] grafnu commented on #316
Can you send along the output of `tcpdump -enr inst/run-port-01/scans/startup.pcap ip` -- that's a pcap of the startup sequence where it should be doing DHCP.

[2020-03-21 13:55] yugandharc9 commented on #316
That is not generated in my case it is giving

`tcpdump: inst/run-port-01/scans/startup.pcap: No such file or directory
`

[2020-03-21 14:00] grafnu commented on #316
Huh.  Ok -- when you're running it, at some point it should stop and wait for a bit after the `INFO:host:Target port 1 using normal DHCP mode` line. When that happens, in another window can you try `sudo tcpdump -eni pri-eth1`?  Let that run until `cmd/run -s` exits.

[2020-03-21 14:01] grafnu commented on #316
Mine looks like this:
[code]

[2020-03-21 14:03] grafnu commented on #316
Also, while it's waiting for DHCP, try:
[code]

[2020-03-21 14:05] yugandharc9 commented on #316
I do not have ethernet port on my machine I am using wireless interface `tcpdump: pri-eth1: No such device exists
(SIOCGIFHWADDR: No such device)`

Earlier I tried connecting the USB Ethernet adapter and edited the `intf_names` the issue was same .

[2020-03-21 14:12] grafnu commented on #316
The `pri-eth1` is an internal virtual ethernet link so it doesn't matter about your external connection.  What does the output of `$ sudo ovs-vsctl show` show (while it's waiting for DHCP)?  What's in your `local/system.conf` file?

[2020-03-21 14:14] yugandharc9 commented on #316
I added the  log of `sudo tcpdump -eni pri-eth1` above here is my `local/system.conf`
[code]

[2020-03-21 14:27] grafnu commented on #316
Was it waiting for DHCP when you ran `sudo ovs-vsctl show`?  Something is wrong with the capture because there is no way the output would be like it showed. If ovs-vsctl is not showing anything, then the cmd/run would not progress that far.

[2020-03-21 14:36] yugandharc9 commented on #316
No it was not waiting I ll try this on another machine and let you know if this persist.

[2020-03-21 15:10] grafnu commented on #316
Also the output of this command `timeout 10m docker exec daq-faux tcpdump -eni faux-eth0 ip` -- that will run for 10 minutes (unless there's an error) -- just trying to partition the problem.

[2020-03-22 08:47] yugandharc9 commented on #316
@grafnu
I tried on another machine I got the same error above for DHCP. May be I am missing something basic, Here are the steps I am following exactly
[code]

That's it. Still  getting the
[code]
Am I messing up with logout login and sudo?

[2020-03-22 12:39] grafnu commented on #316
You're cloning the wrong repo and missing a cd.  You also don't need to run
cmd/build as sudo. The logout/login is only required when you install/setup
docker (to handle user group permissions). I don't know which instructions
you're following, exactly -- so if there's some specific bit that's
misleading, please send a pointer. I would expect something like:

git clone https://github.com/faucetsdn

[2020-03-22 12:41] grafnu commented on #316
Also, we primarily use Debian systems, which should be the same as Ubuntu,
but it's possible that something about their network configuration is
causing problems...

On Sun, Mar 22, 2020 at 5:39 AM Trevor Pering <peringknife@google.com>
wrote:

[2020-03-22 13:54] yugandharc9 commented on #316
My bad! Typo while logging issue the first google search I am cloning right I will be looking in the network with Debian preferably

[2020-03-23 10:29] OzyOzk commented on #215
This issue has already been resolved. The existence of the mac address in the default credentials file is checked on line 43 of subset/security/security_passwords/src/main/java/TestPassword.java

`   if (macIsInCredentialsFile && desiredPortOpen) {
        DefaultCredentials.writeUsernamesToFile(mac, protocol);
        DefaultCredentials.writePasswordsToFile(mac, protocol);
`

[2020-03-23 10:56] aidan-parkinson commented on #215
Looking at the code now, I'm not sure my original comment is relevant anymore. I believe that a missing mac address entry in `defaultPasswords.json` would generate the following error: `"RESULT skip security.passwords.%s Could not lookup password info for mac-key: %s\n"`. This could be acceptable.

Probably an idea to close this issue and to functionally test for witnessing again?

[2020-03-23 15:23] jhughesbiot commented on #247
Need further clarification on the bit length referred to in the cipher suite as it is a different bit length than referred to in the public key.

[2020-03-23 15:32] grafnu commented on #247
Jonathan, I don't have an answer to your specific question, but -- the
system right now more-or-less supports { pass, fail, skip } results -- as
you cite there is no "warn" -- but if that feature was useful then it could
be implemented.  I think one possible use case for it would be "this is OK
for now, but is likely to be turned into a fail in the future, so it should
be addressed".

On Fri, Mar

[2020-03-23 15:43] OzyOzk commented on #312
Can we merge this issue with #226? Both involve aligning the test names and folders with the planning doc.

[2020-03-23 15:48] jhughesbiot commented on #247
There is kind of this concept of conditional pass warning in the BACnet pics test as it relates to optional. Elements of the test are passed with warning but allow the test to pass if they're optional and not present.  I am basically adopting a similar method.  This will log as pass or warning within the test but not effect the test itself.

I will create a PR in a few with my interpretation of th

[2020-03-24 15:22] pisuke commented on #215
Sounds good, closing it out for now and testing it all again. Thanks both!

[2020-03-24 15:22] #215 closed

[2020-03-24 15:25] pisuke opened #320 "Write tutorial for DAQ configuration of the Cisco 9300 Switch"

[2020-03-24 15:29] pisuke commented on #244
Difficult to do now, I think we just execute the tests on faux and real device to check how the functionally behave.
The validation process includes executing the tests and generating report for fail, pass and skip cases.
For reference, here is a report and relevant configuration for a device:
[DAQ_test_results.zip](https://github.com/faucetsdn/daq/files/4376148/DAQ_test_results.zip)
I'm half thro

[2020-03-25 12:29] OzyOzk commented on #304
Seems to be caused by the redacted function in test_aux.sh

[code]
In the eighth expression there is a non-capturing group (?:\d{1,3}\.){3}\d{1,3} which are not supported by sed.

[2020-03-30 14:12] pisuke commented on #304
Thanks @OzyOzk, this regex is intended to replace IP addresses with the XXX string so that the output files can be matched.
Have you already thought of a regex replacement?
Maybe this one could work
sed -e 's/\([0-9]\{1,3\}\.\)\{3\}[0-9]\{1,3\}/XXX/'

[2020-03-31 10:46] OzyOzk commented on #304
@pisuke I removed the ?: from statement 8 and tested on various regex testers. It removes the IP as before. I noticed that  before making this change the redacted device reports were all empty.

[code]

On the above two lines both redacted files were empty as the redact function was failing. So when test_aux compares them to find the difference it was always reporting that there was no difference

[2020-03-31 11:44] pisuke commented on #304
OK @OzyOzk so can you confirm that now the redact function correctly substitutes the IP addresses with XXX and generates non-empty filtered report outputs? If so, please go ahead with this change and complete the integration testing steps on Travis.

[2020-03-31 13:17] pisuke commented on #172
@OzyOzk do you have an update on this?

[2020-03-31 13:17] pisuke opened #334 "URGENT - DAQ error on first run - Timeout expired"
Hi @grafnu @spectre-storm and @henry54809.
There is a bug that has been introduced recently that prevents DAQ from starting any test.
It appears since the first time DAQ is run and it also persists in switch configuration mode (tested both on Cisco and AT switches).
See below the run time cli log.
The same error has been experienced by Forest Rock.
The error is shown as this:

[code]

Could you pl

[2020-03-31 14:29] OzyOzk commented on #172
@pisuke I'm still working on this one. I'm aiming to finish it by the end of the week.

[2020-03-31 14:37] #320 closed

[2020-03-31 14:49] spectre-storm commented on #244
We will close this issue and create smaller / specific issue depending on which Tests to validate

[2020-03-31 14:49] #244 closed

[2020-03-31 15:15] spectre-storm opened #335 "Validate connection.dhcp_long"

[2020-03-31 15:15] spectre-storm opened #336 "Validate connection.min_send"

[2020-03-31 15:15] spectre-storm opened #337 "Validate communication.type.broadcast"

[2020-03-31 15:16] spectre-storm opened #338 "Validate protocol.app_min_send"

[2020-03-31 15:16] spectre-storm opened #339 "Validate network.ntp.support"

[2020-03-31 15:18] spectre-storm opened #340 "Finalize connection.network.mac_oui test"

[2020-03-31 16:20] pisuke commented on #172
Thanks @OzyOzk make sure the full Travis process is also included. This means ensuring that report and output files are synced with the code changes.

[2020-03-31 16:31] henry54809 commented on #334
@pisuke, Hey would you please sync with master and retry? Your 120s timeout indicates that your branch is a couple commits behind.

[2020-03-31 16:35] grafnu commented on #334
Your run is also showing version 1.0.1 -- when if it's up-to-date it should be something like:

Release version release-1.0.1-145-g8890ab9

What does "git log -n 1" show?

[2020-03-31 21:00] pisuke commented on #334
I have synced the repo again, and here is the output of `git log -n 1`

[code]

It looks in sync with the latest commit to me.

I've re-built DAQ and here is a new cli log. Still not looking good unfortunately.

[code]

[2020-03-31 21:06] henry54809 commented on #334
@pisuke Did you also rebuilt all the docker images? The daqf/networking image needs to be updated for the new networking script fo take effect.

[2020-03-31 21:34] pisuke commented on #334
@henry54809 yes I did a `cmd/clean` and then `bin/clean_dev`, `bin/setup_dev` and `cmd/build`.

I've just now done a fresh clone from `faucetsnd/daq`, cleaned all the docker images, done a fresh build.
This is my `git log -n 1`
[code]

And another run log that shows the same error:

[code]

[2020-03-31 21:37] pisuke commented on #334
@henry54809 for reference:

[code]

[2020-03-31 22:02] grafnu commented on #334
Is there a reason your head isn't identical to faucetsdn/master?   I would
expect the below. Some other things in your run seem wrong, so just want to
make sure we're running the same stuff. If you intend for your repo master
to match, you should do a "git reset --hard faucet/master" (or equivalent)
to force it to match (and then a force push to your local repo).

~/daq$ git log -n 1
commit 7d201a

[2020-03-31 23:10] pisuke commented on #320
Wiki page completed: https://github.com/faucetsdn/daq/wiki/Cisco-9300

[2020-03-31 23:56] pisuke commented on #334
I've done a reset:

[code]
It shows exactly the same hash as yours.

But then same problem:

[code]

Not sure what else I can do apart from rolling back to about one week ago when it was working.

[2020-03-31 23:58] pisuke commented on #334
@henry54809 @grafnu are you not able to replicate this?

A `git diff` doesn't show any difference between my upstream/master (faucetsdn) and my local master.

Really puzzled ...

[2020-04-01 00:01] grafnu commented on #334
Release version release-1.0.1-146-g7d201a9

That is still very much not right!  What happens if you type "git describe
--dirty" in your daq directory?

Oh wait -- maybe you need to fetch tags too... try "git pull upstream
--tags"

On Tue, Mar 31, 2020 at 4:56 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-04-01 00:39] grafnu commented on #334
we are not able to replicate.

We should try in a GCP VM... at least then to have a common point of
reference.

Also, can you try not doing it as root?  That's not the right way to do
things and so maybe is messing something up.

On Tue, Mar 31, 2020 at 4:58 PM Francesco Anselmo <notifications@github.com>
wrote:

[2020-04-01 08:01] pisuke commented on #334
[code]

[2020-04-01 13:01] grafnu commented on #334
First try

 git fetch --tags

On Wed, Apr 1, 2020 at 1:01 AM Francesco Anselmo <notifications@github.com>
wrote:

[2020-04-01 13:02] grafnu commented on #334
Oh wait, nevermind. We haven't pushed a newer tag yet, so that commit
describe is fine.

I'm really at a loss here and debugging through email is going to be very
tricky -- so either need to figure out a way to poke at it remotely (SSH
tunnel?) or....

On Wed, Apr 1, 2020 at 6:00 AM Trevor Pering <peringknife@google.com> wrote:

[2020-04-01 17:10] henry54809 commented on #334
@pisuke , I don't see anything wrong either. Would you try to run the dhcp integration tests locally with
"DAQ_TEST=dhcp bin/test_daq"
and show the results here. There're more debugging outputs on that test.
Thanks.

[2020-04-02 05:23] grafnu commented on #334
Should be fixed with https://github.com/faucetsdn/daq/pull/345 -- or you
can use my temporary branch https://github.com/faucetsdn/daq/tree/dhcpfix

On Wed, Apr 1, 2020 at 10:10 AM henry54809 <notifications@github.com> wrote:

[2020-04-02 06:08] grafnu commented on #334
Submitted, please give the update version a whirl!

[2020-04-02 16:46] pisuke commented on #334
Yes, I can confirm it all works now, thanks for the bugfix!
@jhughesbiot @frgitdaq @spectre-storm for your information, closing this now.

[2020-04-02 16:46] #334 closed

[2020-04-06 22:47] pisuke commented on #316
@yugandharc9 did you have any luck with building the code on a Debian distro?

[2020-04-07 14:37] spectre-storm opened #356 "Onboard @Noursaidi to development process"

[2020-04-07 21:15] noursaidi commented on #304
Commit from @grafnu has resolved this issue

[code]

[2020-04-07 21:15] #304 closed

[2020-04-13 15:17] pisuke commented on #233
@jhughesbiot I've configured the switch module for both the AT x230 and the Cisco 9300 switch, but so far I haven't been able to make them work.

The attached files are the activate.log outputs from the test communication with the switch.

For both the AT switch there seem to be some problems with the communication timing out.
See these activate.log outputs.

[at_x230_activate.log](https://github.

[2020-04-13 15:25] grafnu commented on #233
On a developer's note, it would be good, I think, to figure out what was
necessary to enable this testing using the bin/test_module capability, so
that it didn't need to run through DAQ proper all the time.  I'm expecting
some "problems" with it because the switch setup requires additional
configuration.  However, I'd be willing to work with somebody on resolving
that... but I'm not in a good posi

[2020-04-13 16:25] jhughesbiot commented on #233
From what I'm seeing from the cisco output and verifying locally with my switch, is that the user you login with via telnet, is immediately enabled.  Once a user logs in, the console ending is expected to be '>' but an enabled user ends with '#'.  The current process for both switches is to login, then enable the user so bypassing the enable step is causing it to sit and wait forever.  You can see

[2020-04-13 16:30] jhughesbiot commented on #233
The only thing I saw that was notably different in the configs was that I had

ext_loip=192.168.100.%d/24

where you had

ext_loip=192.168.10.@/24

Not really sure if these are equivalent but they both seem to work.

[2020-04-13 16:41] grafnu commented on #233
The @ is the "Old" way of doing things, and literally in the code it says
"replace @ with %d" -- at some point I should make the @ an error... but
didn't want to unnecessarily change things on people.  All the
documentation and examples should have %d in them!

On Mon, Apr 13, 2020 at 9:30 AM jhughesbiot <notifications@github.com>
wrote:

[2020-04-13 21:42] pisuke commented on #233
@jhughesbiot Indeed, the admin user on the cisco switch is enabled.

So what should the configuration on the switch be?
Can you check the [setup instruction I've written on the wiki](https://github.com/faucetsdn/daq/wiki/Cisco-9300) are correct and add what is missing?

And if the user is not enabled, should the enable password be the same as the ssh password (in this case, well, "password")?

Thi

[2020-04-13 21:51] jhughesbiot commented on #233
The question in the Cisco configuration

By inputting your password there, you do not get prompted for login information over telnet, this should be left blank.  There could be an update (for cisco at least) that checks directly if the user is enabled or just logged in but that would be the quickest way to get testing done.  Right now the code in both switches expects the same password for login a

[2020-04-13 22:01] pisuke commented on #233
OK, I've changed the wiki page like this:

[code]

I'll reconfigure my switch and see if I can make it work.

I swear the AT was working with the same config, so something is different.
I'll dig deeper, but concentrating on making the Cisco one work now.

[2020-04-13 22:44] pisuke commented on #233
Uhm ... I've removed the password from the switch but the following happens when I attempt to telnet:

[code]
Anything else I need to change?

[2020-04-13 22:50] jhughesbiot commented on #233
You still need to set the enable password so if you didn't set that, then you'll need to.  I didn't actually setup this part of the switch i'm working on, this was done by my IT group, I mostly dealt with the openflow side of things once it was turned over.  It might be the enable password needs to be unset and the virtual terminal needs to be set.  Not entirely sure on that but if the result of l

[2020-04-14 14:35] #356 closed

[2020-04-14 15:02] spectre-storm opened #364 "Develop Storm Control Test (Test#58)"

[2020-04-14 15:03] spectre-storm opened #365 "Confirm Cisco Switch Configuration for DAQ testing"
Jonathan's suggestion for Cisco switch config https://docs.google.com/document/d/1LS5N41MAjGD-9ycbLm3Ug6cLMZADZ-zf_gZTbFPsuuE/edit?ts=5e95cf61

Need confirmation for those config.

[2020-04-14 15:06] spectre-storm commented on #364
Need confirmation how to perform the test before and after we enable Storm Control config. According to backlog "Record communication of the device before and during a period when storm control is enabled on the switch. Check that during the period when storm control is enabled the number of application layer messages is compliant with relevant DAQ communication tests."
Is it sufficient to use pin

[2020-04-16 13:54] noursaidi commented on #242
The test workflow appears to require each device (or at least according to the first six characters of the MAC address) to be assigned a set of credentials in the defaultPasswords.json file before the test runs. This also requires a rebuild of DAQ. This is not scalable and usable for unattended installations and processes like remediation. I’d expect the workflow to be automatic and not require an

[2020-04-20 13:41] pisuke commented on #242
@em-redstone can you please comment on the report above? There are a few problems that need addressing urgently.

[2020-04-20 14:05] pisuke commented on #233
@jhughesbiot  OK, I've spent the morning configuring the cisco switch. The following config made telnet access work as required by the Cisco switch java code.

[code]

All working OK with the AT switch again. The `%d` in `system.conf` did the trick.
[device_report_at_x230.pdf](https://github.com/faucetsdn/daq/files/4503920/device_report_at_x230.pdf)
The report output is still missing useful inform

[2020-04-20 14:31] em-redstone commented on #242
Hi @noursaidi,

Thank you very much for your input. I would be happy to address the issues you have noted.

**_"The test workflow appears to require each device (or at least according to the first six characters of the MAC address) to be assigned a set of credentials in the defaultPasswords.json file before the test runs. This also requires a rebuild of DAQ."_**

So far I have only tested the pass

[2020-04-20 15:32] jhughesbiot commented on #233
I believe this is happening because there's a space in the device name and the code currently isn't expecting spaces within each column of response data.  Renaming it to something without a space should remove this error.  I'll have to work on a fix for this scenario.

[2020-04-20 15:54] pisuke commented on #233
@jhughesbiot it's a bug in my opinion:

[code]
I have no way to name this device in the way it is read by the switch. The hostname is different.
The power indicated is also not the current power but the maximum device power.

I suggest we use the following command instead:
[code]
This clearly shows that the actual consumption is 3.2 W and this value must be reported in the summary
.

[2020-04-20 16:30] jhughesbiot commented on #233
@pisuke
I agree it's a bug, just explaining what the bug was.  I'll take a look at this alternate command and implement a fix.

[2020-04-20 22:15] jhughesbiot opened #374 "DAQ can't be used with wireless devices"
Devices that are wireless only do not seem to fit in with the DAQ infrastructure for validation. This creates an issue for validating potential devices that only utilize wireless technology.

[2020-04-20 23:55] pisuke commented on #233
Cool, thanks @jhughesbiot for having a look!

[2020-04-21 11:39] spectre-storm opened #378 "Automate the switch config using script instead of manual"

[2020-04-22 15:55] noursaidi commented on #242
Hi @em-redstone ,

To test against against a physical device I followed the guidance in the Wiki "Getting Started" page. To configure the password test to run I had to add the first six characters of the MAC address (ie 76-70-FD-A2-F6-DE becomes 7670FD) into the the defaultPasswords.json in src/main/resources , the syntax should be self explanatory as there are examples already there.

I think the

[2020-04-23 16:38] pisuke commented on #172
@noursaidi can you please do review on the full test code base inside /subset to check which tests don't output any information in the summary for the pass/skip/fail/info steps?
Having a table here for discussion would be useful.

[2020-04-23 16:41] pisuke commented on #316
Closing this one as no more discussions or feedback.

[2020-04-23 16:41] #316 closed

[2020-04-23 16:41] pisuke commented on #313
Addressed in #361.

[2020-04-23 16:41] #313 closed

[2020-04-23 16:48] pisuke commented on #253
Closing this issue as addressed by the creation of the test_module script in #265

[2020-04-23 16:49] #253 closed

[2020-04-23 17:58] pisuke opened #382 "Switch communication broken"

[2020-04-23 18:07] pisuke commented on #382
@grafnu @henry54809 @jhughesbiot @spectre-storm

I've just pulled DAQ from the main repo master branch:

[code]

I've configured it to run on both the AT x230 and the Cisco 9300 switches.
I've done tests with non-PoE and PoE devices.
None of them unfortunately worked.
I understand that there was some work done yesterday, but it seems to have introduced new issues.

See below the log from a run on

[2020-04-23 18:23] jhughesbiot commented on #382
Did you do a full rebuild of everything after you pulled the updates?  I had to rebuild as if it was a brand new install to get it to work for me, i.e. setup_dev and the cmd/build. I don't actually see anything with the switch module happening, the test seems to fail way before that.

[2020-04-23 18:32] pisuke commented on #382
Yes I did, just a clean slate, cmd/clean, bin/setup_base, bin/setup_dev, cmd/build.
Can you share your `inst/cmdrun.log` with a physical device and your `loca/system.conf`?
Here is mine
[code]

[2020-04-23 18:33] pisuke commented on #382
Indeed, it stops before starting creating the `activate.log` file.

[2020-04-23 18:35] pisuke commented on #382
Rerunning it again without disconnecting the physical device I get a different behaviour:

[code]

[2020-04-23 18:36] pisuke commented on #382
Disconnecting the device and reconnecting it I get this other error:

[code]

[2020-04-23 19:45] jhughesbiot commented on #382
The current master doesn't have any of the switch  module updates so this seems to be something else entirely.  Was this output after a clean build of your install?

[2020-04-23 20:34] jhughesbiot commented on #382
Have you run a test without the switch config parameters and just plugged directly into the device to rule out the switch configuration as the issue?  I haven't seen this issue on my setup.

[2020-04-23 20:43] pisuke commented on #382
Yup, all working well, it's just the communication to the switch:

[code]

[2020-04-23 20:46] jhughesbiot commented on #382
Is this for both cisco and allied or just cisco?  On closer inspection, I see where it's failing to communicate with the device it detected on port 6.  Possibly some faucet errors.  Did you at any time have this cisco switch controlled by a faucet controller that wasn't DAQ?  If you see a bunch of errors in the inst/faucet.log, then the only way i've found to get DAQ to control it again is to send

[2020-04-23 20:58] grafnu commented on #382
One problem we found (I ssh'd into his system) was the the test_switch
image hadn't been built -- basically the error message is bad. You need to
build the images after configuring the system (so you know which ones to
build)... but it should be a bit more clear about what the problems were!
That's only one of the errors Francesco encountered.. don't know about the
others.

On Thu, Apr 23, 2020 at

[2020-04-23 21:35] pisuke commented on #382
Thanks Trevor, I'm closing this issue now as it is understood and will move back into the PoE power / switch test one. Thanks both!

[2020-04-23 21:35] #382 closed

[2020-04-23 23:07] pisuke commented on #233
Moving the discussion to #375

[2020-04-24 13:41] grafnu opened #386 "pics test has misleading error"
When there's a network failure of some kind and BacNET discover fails and can't reach the target device, the bacnet pic test reports that "the pics file could not be found" rather than "the device discovery failed" -- which is misleading (because the pics file is perfectly fine/available).

[2020-04-24 16:30] pisuke commented on #386
Thanks @grafnu noted and added on the project Kanban.

[2020-04-28 11:08] pisuke commented on #110
Addressed in #235

[2020-04-28 11:08] #110 closed

[2020-04-28 11:39] pisuke commented on #365
@spectre-storm @jhughesbiot I've included my comments in the document.

[2020-04-28 14:56] spectre-storm commented on #216
Assigned it to Trevor as per the last comment in https://github.com/faucetsdn/daq/pull/324

[2020-04-29 15:48] #340 closed

[2020-04-29 22:16] noursaidi commented on #339
@pisuke I've validated this this test and I'm happy the test requirements are met

[2020-04-29 22:28] noursaidi commented on #338
@pisuke , @em-redstone I've taken a look at this test and a few points.

The code shows an "Infrastructure Excludes JSON file" functionality which appears to be currently disabled (?) - I think this needed for this test to be validated. For example, from one device I only had NTP packets and the device passed, not sure this is reflective of the test intent.

Configuration information generally nee

[2020-04-29 22:29] noursaidi commented on #336
@pisuke @em-redstone , only comment on this test is that the report appendix states that "Device sends data at a frequency of less than 5 minutes", I think this should be more general as the test depends on the monitor_scan which is configurable within DAQ, and may not necessarily be 5 minutes.

[2020-04-29 22:32] noursaidi commented on #335
@em-redstone I'm validating this test but running into some difficulties. I'm wondering if you haveany documentation or information to advise on the test method & configuration requirements (e.g. DAQ parameters), that would be very helpful.

[2020-04-29 22:42] henry54809 commented on #335
@noursaidi  You can look at an example config under the dhcp integration test: https://github.com/faucetsdn/daq/blob/b1f704e5b76f9796ed0781ff7a3e012763f1441e/testing/test_dhcp.sh#L31

[2020-05-01 15:27] em-redstone commented on #242
Hi @pisuke, @noursaidi,

I have pushed the recent changes to my git repo:
https://github.com/em-redstone/daq/tree/security_password

Push changelog:
- Added automated manufacturer password deduction using macoui.
	- Added a splicer script which creates a brute force dictionary using
	macList from nmap, and a .csv file containing passwords from one of the
        sources @noursaidi suggested.

[2020-05-01 15:59] em-redstone commented on #335
Hi @noursaidi,

These are some of the info I could get from the old DAQ sheet regarding this test:

"This test verifies if the device re-requests a DHCP lease after its lease has expired.

Disconnect device and wait for lease time to expire. Reconnect device and check it requests IP address

Check with tcpdump that a DHCPREQUEST message is sent by the device after the lease has expired."

From wha

[2020-05-02 13:30] noursaidi commented on #335
Thanks @henry54809 , it looks like that's a recent test into the DAQ framework which appears to fulfill the same purpose as the connection.dhcp_long under the networking module which I was looking at. It also seems more appropriate, as it's integrated into the networking configuration, compared to the latter which rather read-only and relies on monitoring the packet scan. @pisuke thoughts?

Thanks

[2020-05-02 20:28] noursaidi commented on #386
I think the BACnet discover is succeeding, the logs show that a BACnet device is found. The test also won't check for a picsfile if a BACnet device isnt found. I think the test reporting needs to be updated with an additional case for this scenario

What seems to be happening though is that for some bizarre reason, and seemingly only on port 02 in the aux tests, is the pics.csv isn't' being copied

[2020-05-02 21:59] grafnu commented on #386
Sorry -- seems I have my details confused. The error is still "misleading"
-- but it's the case when the device *is* found.  The file is not there for
02 is intended exactly to check this case.  The problem then is that the
error is still inconsistent in the two "device" cases (found and not found)

See the logs https://travis-ci.org/github/grafnu/daq/jobs/682195817#L8742 --
the device is not foun

[2020-05-04 07:20] pisuke commented on #312
Addressed in #376.

[2020-05-04 07:20] #312 closed

[2020-05-04 08:00] pisuke commented on #386
@grafnu @noursaidi do the pass/fail/cases described in this new [`readme.md`](https://github.com/pisuke/daq/blob/451c5113de915ddb49b84d7d267817e3589a5126/subset/bacnet/readme.md) file describing the `test_bacext`  module give a reasonable description of how the test would behave?

[2020-05-04 14:57] grafnu commented on #386
For protocol.bacnet.version is there a case where it is a bacnet device but
the protocol version fails for some reason?  E.g., maybe the system is
misconfigured?

For the pics -- question is if providing a BACnet device without a PIC
statement is allowed.  Or if you supply a PIC statement but there is no
bacnet device.

Either way seems fine to me, we might just want to clarify.

My point with the

[2020-05-05 12:52] noursaidi opened #400 "bin/registrar - Compile Error"
I'm receiving a compile error when running bin/registrar tool using the latest version. I used a previous commit and that compiled/ran fine on my machine. (Ubuntu 18.04)

[code]

[2020-05-05 14:50] grafnu commented on #400
What version of Java are you running?

~$ *java --version*
openjdk 11.0.6 2020-01-14
OpenJDK Runtime Environment (build 11.0.6+10-post-Debian-2)
OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Debian-2, mixed mode,
sharing)

On Tue, May 5, 2020 at 5:52 AM Noureddine <notifications@github.com> wrote:

[2020-05-05 15:30] noursaidi commented on #400
[code]

I've installed OpenJDK 11 and that's cleared the issue for me. Thanks

[2020-05-05 15:30] #400 closed

[2020-05-05 23:21] noursaidi commented on #386
@pisuke I've put a pull request #404 to correct the issue. The possible report outputs are as follows. Currently there is no check for a pics.csv file if a Bacnet device is not found, should this be incorporated as an additional case?

| Bacnet | Pics | Pass/Fail | Report Output
| --- | --- | --- | --- |
| Yes | Yes | Pass | Pass|
| Yes | Yes | Fail | Fail|
| Yes | No | Skip | Bacnet device found

[2020-05-06 01:31] grafnu commented on #386
I think it would be great if the table was complete and the case of "pics
defined but no device found" would be indicated... possibly as a fail.  The
reason being that somebody should only define a pics statement when there's
an expectation that there's a bacnet device... so under what "normal"
circumstances would there be pics but no device?  Better to surface the
error rather than hide it.

On T

[2020-05-06 11:40] em-redstone commented on #242
Hi @noursaidi, @pisuke,

Hope you are all well, I'm currently working on the suggestions made, but have some queries regarding the test and its requirements.

- Is the requirements of the test to make sure that just default passwords have been changed from manufacturer defaults? Or that passwords have been changed in general to a stronger one?
    - Currently in the test, macoui is used to determi

[2020-05-10 22:23] noursaidi commented on #386
I agree, I've made the changes and updated the readme.md to incorporate the following. conditions. The possible outputs look as follows.

| Bacnet | Pics | Pass/Fail | Report Output
| --- | --- | --- | --- |
| Yes | Yes | Pass | The devices matches the PICS|
| Yes | Yes | Fail | The device does not match the PICS |
| Yes | No | Skip | BACnet device found, but pics.csv not found in device type dire

[2020-05-11 00:26] grafnu commented on #386
@noursaidi  -- thanks for pulling all that together... looks great!  When you say "I'm having issues with my branch", what do you mean, exactly?  I'd prefer not putting another pull request in just because a branch is messed up... you can reset your branch to whatever files you want. The problem with just doing a new pull request is that it loses any history.

If you need to reset your branch, you

[2020-05-11 12:46] noursaidi commented on #386
Thanks @grafnu , I've resolved my issue and marked you as a reviewer for the existing PR #404

My issue was merge conflicts which didn't make sense to me after I used a separate branch to avoid polluting the commit history and additional Travis CI runs on the master daq repo whenever I pushed changes back to my repo

[2020-05-11 13:38] noursaidi commented on #172
@pisuke it looks like only the certificate (TLS/x509) tests currently produce a summary note, but they do produce output useful information. In PR #412 I've copied this information into the summary table. The options are as follows. Should we have the certificate expiry date/start date with the respective notes?
| Result | Note
| - | --- |
| Skip | "MalformedURLException unable to connect to serve

[2020-05-12 13:04] #386 closed

[2020-05-12 13:08] pisuke commented on #338
@noursaidi I think this test should be removed as it currently is not in the test plan.
@spectre-storm what do you think? If you'd like to keep it, it needs some adjustments as the definition is not completely clear and the implementation doesn't do what the test is supposed to.

[2020-05-12 13:10] pisuke commented on #336
@noursaidi @spectre-storm @em-redstone the best way would be to add a parameter in the module_config.json to be used by the test for the configuration of the monitoring time.
I think we need to discuss this with Trevor.

[2020-05-12 13:14] pisuke commented on #337
@noursaidi this test is intended to be informative and fromthe monitor.pcap report the number of unicast, multicast and broadcast messages in a table.
Can you please confirm this is the implemented behaviour with a test run?

[2020-05-12 13:20] pisuke commented on #335
Thanks for looking into this.
The ARP packet should be of the DHCPREQUEST type, so a more specific test should be done.
The test should configure DAQ accordingly as suggested by Haoli.

[2020-05-12 13:23] pisuke commented on #172
@noursaidi I think @jhughesbiot was working on the TLS tests in #362 which has now been approved and should be merged soon. Can you please coordinate?

[2020-05-12 13:38] noursaidi commented on #337
@pisuke test currently only reports the types of broadcast packets received, not the numbers.

The number of packets is counted, so appears to just be a case of appending it to the report appendix.

[2020-05-12 15:31] spectre-storm opened #415 "Develop DNS Test 32"

[2020-05-12 15:31] spectre-storm opened #416 "Develop NTP test 28"

[2020-05-12 15:32] spectre-storm opened #417 "Develop NTP Test 27"

[2020-05-12 16:26] em-redstone commented on #242
Hi @pisuke @noursaidi and all, quick update on the test:

Changelog:
- Ported the code from Java to Bash. There are now 2 bash scripts, one which is the password test and the other which creates a single brute force dictionary as opposed to the .json file created previously.
    - This should make it easier to go over or make changes to the code
    - No longer a need for gradle builds which take

[2020-05-12 16:55] jhughesbiot commented on #172
@noursaidi
I can see the messages you're referring to are still missing from https://github.com/faucetsdn/daq/pull/362.  The validation of a cert is now more involved than just the expiration date but I will do a quick update to that PR to add appropriate messages to the status of the certificate.

[2020-05-12 18:40] jhughesbiot commented on #172
Updated to account for the multiple failure points and messaging. This is from the test_modules output to show the new messaging.

[code]

[2020-05-12 23:19] noursaidi commented on #242
Thanks @em-redstone

With regards to the HTTP web pages, I agree it's not possible to fully automate this for all scenarios, but I think it is important to and think that it should be possible to cover most with an automated method. One approach could be as you have suggested to include common negative responses. Is it possible to instead to use Hydra to look for successful logins? I imagine in mo

[2020-05-13 13:18] spectre-storm opened #419 "Ensure the device does not require http for management (Test 57)"

[2020-05-13 15:45] em-redstone commented on #242
Hi @noursaidi,

Thanks for the advice,

I will have a look at writing a script to find the login forms in the page - I'll read up on some autofill/save password code and see. Hydra currently relies on the selector for the login form and response to be put in manually so this would be very useful.

I do think the dictionary is a bit large and the brute force will take a _really_ long time - the uni

[2020-05-19 10:04] pisuke commented on #233
I have executed a series of tests using the code recently merged in #375 and the output from the module for the `connection.switch.port_link` `connection.switch_port_duplex` and `connection.switch.port_speed` is now aligned with the expectations.

The switch full report output however hasn't been included yet, so I will open another issue for that.

The PoE tests output is correct for a PoE device

[2020-05-19 10:04] #233 closed

[2020-05-19 10:11] pisuke commented on #204
@jhughesbiot please note that the PoE tests output for non PoE devices is not correct. See the report below for reference.

[device_report_non_poe_device.pdf](https://github.com/faucetsdn/daq/files/4649687/device_report_non_poe_device.pdf)

The report output for a non-PoE device should be `skip` in all cases with a sensible summary output stating something like `Test skipped because the device doe

[2020-05-19 11:05] pisuke commented on #242
@em-redstone do you have an update on this test and some new code we can try out and comment on?

[2020-05-19 11:15] pisuke opened #428 "full switch module report output"
The report section of the switch module must include the output of the switch commands.

For reference, here is a report showing that the output from the switch commands is empty in the report section.

[device_report_poe_device.pdf](https://github.com/faucetsdn/daq/files/4651654/device_report_poe_device.pdf)

[2020-05-19 14:36] jhughesbiot commented on #204
Did you disable PoE in the devices module_config.json?  If PoE isn't disabled at the device level, it is going to attempt to test as a PoE device.

[2020-05-19 15:40] jhughesbiot commented on #204
A quick comparison of switch output of PoE and non-PoE information.  Port 1 is non-PoE and port 2 is a PoE device.

[code]

You can see they both report auto-negotiation because that's more of the switch configuration setting of the port.  PoE operational determines if PoE is actually in use.

So if PoE is enabled in the device module_config.json, the results for these devices map to

Port 1:
admi

[2020-05-19 15:58] grafnu commented on #204
Should be a simple truth table, no?  At least I think this is what Jonathan
is saying.  And I think the explicit model is good/better -- we don't need
to get into the "automatically try to determine if the device supports PoE
or not" game.

Enabled == device module_config enabled to say "this device should support
PoE"
Tested == device PoE tests indicates pass/fail

enabled tested result
  N

[2020-05-19 16:11] jhughesbiot commented on #204
That is essentially how it works now.   No attempt to auto-detect PoE support for the device, just report the state of the tests if enabled and skip if disabled.

If we need to modify the truth table or tweak the results, there's no issue on my end doing that, just need to agree on what those states look like.

[2020-05-19 17:48] jhughesbiot commented on #428
Is there a clear example and/or documentation of what is expected from the framework for it to populate this information?  Are any modules using this fully?

Right now that module uses:

[code]

But all of those have data in them so I need some feedback on what is actually expected for this data to show up as I can't see what is missing.

[2020-05-19 18:01] grafnu commented on #428
The misc/test_ping file has a reasonable use, is that sufficient? If not,
what exactly are you looking for?

The test_tls also has a reasonable use/example... but I'm pretty sure you
wrote that.  So maybe I don't understand your question.  I don't understand
what you mean by "But all of those have data in them" -- can you try
restating your question?

On Tue, May 19, 2020 at 10:48 AM jhughesbiot <

[2020-05-19 21:42] jhughesbiot commented on #428
I spent time on the tests and their results for the TLS module but really didn't touch the framework as much as I changed the tests themselves.

From what I can tell, they both use the exact same method to generate data to the report, have the same method to generate the report section but the switch module doesn't show up anything and the tls module does.

Managed to figure out that the report.tx

[2020-05-20 16:16] noursaidi commented on #335
@pisuke I agree with you, I've taken a look into how it runs.
When _long_response_ is enabled, the DHCP server will be configured to ignore a client for a preset _long_dhcp_response_sec_ (default 105s, configured in system.conf) period of time. The idea is that the device will not be able to renew DHCP lease, thus it expires and the client must request a new lease.

The parameter _initial_dhcp_lea

[2020-05-20 22:29] noursaidi opened #434 "communication.type.broadcast - report number of packets"
Number of packets need to be shown in report for test validation (issue #337)

[2020-05-21 09:33] noursaidi commented on #337
@pisuke I've created issue #434 to add the number of packets received into the report.

@em-redstone the test currently counts all broadcast messages going in or out, I think it need to be restricted so it only coming from the device. There is a tcpdump parameter "-Q in" which could be used.

[2020-05-21 23:38] grafnu opened #438 "mac_oui test silently fails"
as per this [failed run](https://travis-ci.org/github/grafnu/daq/jobs/689820988), the mac_out test sometimes fails:
[code]
With no descriptive error message.

A [successful run](https://travis-ci.org/github/grafnu/daq/jobs/689820987), looks like:
[code]

[2020-05-22 12:24] noursaidi opened #439 "Fix network tests"
Two bugs in network tests:
- packet count in report incorrect
- tests consider bidirectional data, but should consider data sent given the tests report that "device sends data" and "device sends broadcast packets"

[2020-05-23 22:52] pisuke commented on #335
@noursaidi I'm not sure what is meant by "the test cannot fail".
The aim of the test is to check that the device issues a DHCPREQUEST after having been disconnected and after the DHCP lease has expired.
My questions are:
* has the device been physically disconnected by the test and then reconnected after the lease has expired?
* has the lease expired? is the test checking the output of this intera

[2020-05-23 23:28] noursaidi commented on #335
@pisuke apologies I read my previous comment back and it was not too clear, sorry for any confusion.

The test does not currently meet the requirements and does not do what you have stated. I have suggested in my previous comment some changes which could be implemented in order to allow it to do what it needs to do, these rely on using the "long_response" option built into the DAQ framework. To an

[2020-05-26 09:23] noursaidi commented on #337
@em-redstone I've added the number of packets and fixed a few bugs in this test (#439) - All that is outstanding is the test needs to distinguish between broadcast and multicast packets and report these separately.

[2020-05-26 14:54] spectre-storm commented on #338
If it's not in the test plan, we should remove it

[2020-05-26 14:58] #172 closed

[2020-05-26 16:14] em-redstone commented on #242
Hi @pisuke @noursaidi and all, quick update on the test:

**tl:dr:**
- Got hydra command working on DVWA login form, but difficulty getting variations of it to work on other forms.
- Hydra command is too finicky on syntax, which can result in weird behaviour. Too much variability on web forms to be able to automate this. Can't find other alternative tools.
- I have some experimental code written t

[2020-05-29 17:04] grafnu commented on #242
Re: travis -- if you're having specific issues there can you please
separate them out into a separate thread. I don't want to engage in a
discussion across multiple topics in one email thread.

On Fri, May 29, 2020 at 10:00 AM em-redstone <notifications@github.com>
wrote:

[2020-05-29 21:53] jhughesbiot opened #454 "Discovery Test Resolves wrong Firmware"
Could not get some firmware tests to pass one some devices and on inspection, it appears the process by which it reads the firmware defined in the device_type/module_config.json file can get is doing some sort of incorrect processing instead of direct copying into mac_addrs/device/aux/module_config.json.

Defined  as:
    "firmware_version": "**104.00.2216\x00**"

Result incorrectly failing:
|fail

[2020-06-01 10:35] em-redstone commented on #242
Thanks Trevor, will move the travis issue to another thread.

[2020-06-01 10:38] em-redstone opened #456 "Travis fails on fresh master pull on personal fork"
Hi all,

I would like to submit a pull request but I'm having trouble with travis at the moment as it has been a while since I last travis tested - I'm not sure if I'm missing a few steps in integration testing now, but I am receiving multiple failed travis tests even on a freshly pulled master branch...

Github repository:
https://github.com/em-redstone/daq

Travis:
https://travis-ci.com/github/e

[2020-06-01 14:59] noursaidi commented on #456
Hi @em-redstone

I've had that a lot with every version, you need to fetch the tags and push them by including '--tags'. For me the following usually does the job if I recall correctly.
[code]

[2020-06-01 15:35] grafnu commented on #456
Correct -- the relevant bit in the logs is below.  Unfortunately there's no
easy way to automate this using git... it's just the way git works (tags
are separate from branches).  If it works for you locally but not on
travis, then it's possibly you already have the tags locally, so you'd just
need to do "git push --tags"... You can also try "git describe" to see if
it does something sane.

fatal:

[2020-06-02 08:37] noursaidi commented on #242
Thanks for the updates @em-redstone , I'll take a look and test some of the changes you have made and report back

[2020-06-02 08:41] noursaidi commented on #339
@pisuke the test should now incorporate a check on the NTP version to ensure it is NTPv4. This should be possible by examining the packets which report the protocol version

[2020-06-02 08:41] #434 closed

[2020-06-02 08:41] #439 closed

[2020-06-03 09:31] em-redstone commented on #456
Thanks very much guys, it resolved the issue, closing now.

[2020-06-03 09:31] #456 closed

[2020-06-03 15:11] spectre-storm opened #463 "Remediate NTP Test 25"

[2020-06-05 14:05] em-redstone commented on #337
Thanks @noursaidi,

I should be able to start working on this soon, is there somewhere in DAQ which allows you to configure it to send multicast packets? Similar to how dhcp lease time can be configured?

Regards.

[2020-06-05 14:12] grafnu commented on #337
What do you mean "DAQ to send multicast packets" -- what, exactly, do you
want sending the packets?  "DAQ" is a comprehensive framework of stuff, so
it consists of many parts.  THere's the faux device, networking container,
etc... ?  There's currently nothing that deals with multicast, so the short
answer will be "no"...

On Fri, Jun 5, 2020 at 7:05 AM em-redstone <notifications@github.com> wrote:

[2020-06-05 14:23] em-redstone commented on #337
Thanks for the quick reply Trevor, I was wondering if there was a way to configure DAQ to send multicast packets in some way to the faux devices, so I can test out the multicast changes (when added) to the broadcast test within daq (Similar to how dhcp_long can be tested with the dhcp lease config)

Regards.

[2020-06-05 14:28] noursaidi commented on #337
@grafnu @em-redstone
The test description as @pisuke mentioned is for the test to check and report the types/number of packets the device sends. I think therefore all needs doing is to extend the current test which uses the monitor.pcap packet dump to look for broadcast and unicast to also look for any multicast packets a device may send while under test. I don't think whether or the device suppor

[2020-06-05 14:38] em-redstone commented on #337
Thanks @noursaidi, I'll have a look. I was looking for a way to test out the updated tcpdump command changes in some way (whether in daq or not) before pushing it to my repo. I guess i can just write some scripts outside of daq to test the tcpdump command for now.

Many thanks.

[2020-06-05 17:02] grafnu commented on #337
I don't understand what you mean by the comparison to dhcp_long -- my guess
is that's not the right example to use since it's very different from
anything multicast does. DHCP responds to requests from the device, it
doesn't proactively send any traffic.

If you need multicast traffic, why can't you just send some to the DUT from
the test module container?  That's what the system does for BacNET
d

[2020-06-09 10:46] pisuke opened #471 "Update wiki pages with new switch config interface"

[2020-06-09 11:07] noursaidi opened #472 "Manual Tests in Report"
Develop test module to put manual test results into the output report

[2020-06-09 12:54] noursaidi commented on #242
@em-redstone , I've taken a look at the test and tested it under various configurations. I have a few comments:

1. If the HTTP server did not have basic authentication, the test would always fail and report the first username/password combination as the password. This happened even if the server did not have a web form, and when it did it didn't appear to attempt to use the form. Are there any ad

[2020-06-09 14:30] pisuke commented on #216
Closing as addressed by #459

[2020-06-09 14:32] pisuke commented on #308
Closing this as no longer requiring attention.

[2020-06-09 14:46] #428 closed

[2020-06-09 15:36] em-redstone commented on #242
Thanks @noursaidi,

_"When there is a succesful login, the test stops. It should continue to check all the usernames/passwords in the password file and report these (I think because of the -F flag in Hydra)"_

Yes, the -F flag stops the brute force once it's found a valid match. I added it in to speed up the runtime as I thought once the user/pass pair is found there won't be a need to continue th

[2020-06-09 15:47] em-redstone commented on #242
_"If the HTTP server did not have basic authentication, the test would always fail and report the first username/password combination as the password."_

Thanks for letting me know about this one, I'll try add some kind of check to prevent this from happening.

_"This happened even if the server did not have a web form, and when it did it didn't appear to attempt to use the form. Are there any add

[2020-06-09 15:54] noursaidi commented on #242
Thanks @em-redstone , I thought it might not have been included. For the web form, I put together my own basic login page for test purposes.

@pisuke, given the difficulties and that it might not detect app based login forms in all instances, should it become a manual test for the cases where there is a app based login form?

[2020-06-11 07:13] pisuke commented on #428
Addressed om #431

[2020-06-11 14:45] noursaidi commented on #472
Duplicate of #124

[2020-06-11 14:45] #472 closed

[2020-06-14 21:02] noursaidi commented on #124
@pisuke I've made a PR #481 which implements the test in the method you've mentioned.

The only improvement which has just occurred to me is I think the manual tests might need an enforced expiry or timestamp as module_configs might linger for a while with the manual test results

[2020-06-19 13:40] em-redstone commented on #242
Hi @noursaidi @pisuke and all, quick update:

**_"If the HTTP server did not have basic authentication, the test would always fail and report the first username/password combination as the password."_**

Added check for HTTP authentication now, tested on a docker container with no http authentication configured. It just looks for a '403 Authorization Required' message. Will return a skip case if i

[2020-06-21 13:19] noursaidi opened #493 "Connection problems with ethernet adapter and v1.5/1.5.1"
I've been network issues using my built ethernet adapter to connect to a test device using v1.5/1.5.1. The device connected does not obtain an IP address. This is occurs after a DAQ run is initiated, and persists even after DAQ aborted and the system rebooted.

Whilst DAQ is running, it hangs at the start of the main event loop `"System port 1 on dpid is active True"`.

The only way I have found t

[2020-06-21 13:45] grafnu commented on #493
Two things going on here, not sure exactly what the problem is.

First,  I'm confused by the parts of your question when you talk about the
device having an internet connection. What, exactly, do you mean by this
and what are you expecting? It sounds like you're trying to get some
expected behavior *outside* of DAQ (you talk about the device obtaining an
IP address, and persisting after DAQ is abo

[2020-06-21 16:37] noursaidi commented on #493
Thanks Trevor the prompt response.

I tried with with `’port’ : 1` fixed it for me. I had to run `bin/net_clean` though. Thank you - all working now. I’ll update the Wiki so there’s an example of using a ethernet adapter, as the current example is using .conf example which is now outdated. I had that configuration with the ‘opt’ because that’s what worked for me on 1.4 and previous version.

To al

[2020-06-21 16:45] grafnu commented on #493
Ok -- great.  Yah, something changed with how the automatic startup things
were configured and your particular case wasn't caught in the testing.
Fortunately sounds like it's an easy fix!

The .conf syntax should still work -- it's just that it would need to be
interfaces.XXXXX.port=2 rather than interfaces.XXXXX.opt= -- same meaning,
different syntax!

So, what's likely going on is that when DAQ

[2020-06-23 14:23] #471 closed

[2020-06-23 14:35] #124 closed

[2020-06-23 14:59] spectre-storm commented on #415
Jonathan, Trevor did https://github.com/faucetsdn/daq/pull/492 so I think you can start completing this test 32 to inspect tcpdump packet and see if there is a valid DNS request/reply to the correct DNS server

[2020-06-23 15:01] spectre-storm commented on #204
Francesco to update

[2020-06-23 15:04] spectre-storm commented on #337
Em-redstone to share the code with Arup

[2020-06-23 15:08] spectre-storm opened #500 "Write doc to explain security.admin.password"

[2020-06-23 15:09] spectre-storm commented on #500
The goal of the doc is to explain the scope of the test https://github.com/faucetsdn/daq/issues/242

[2020-06-23 15:46] spectre-storm commented on #419
The implementation is: we are going to scan any open port and make sure it doesn't run HTTP

[2020-06-24 18:28] em-redstone commented on #337
Hi @pisuke, @noursaidi and all,

Good evening, I've pushed the latest code for the broadcast test in my repo:

https://github.com/em-redstone/daq/tree/issue337-multicastnetworktest

The broadcast test now checks for multicast packets (all packets which have IP addresses within the range 224.0.0.0 to 239.255.255.255).

This was tested by running the script, and the tcpdump commands themselves on my

[2020-06-26 13:27] noursaidi opened #510 "Develop test to identify SSH version for a device"

[2020-06-29 12:50] pisuke commented on #336
Addressed in #498

[2020-06-29 12:50] #336 closed

[2020-06-29 12:50] noursaidi opened #516 "Add network tests to CI tests"

[2020-07-07 14:59] spectre-storm commented on #416
The test priority has been lowered, so closing this issue for now

[2020-07-07 14:59] #416 closed

[2020-07-07 15:15] spectre-storm commented on #364
We are not going to perform this test as part of device testing, but rather as part of system testing which is outside of the scope of this issue

[2020-07-07 15:15] #364 closed

[2020-07-07 15:19] spectre-storm commented on #365
Pisuke will create cisco config file under /etc

[2020-07-07 15:23] spectre-storm opened #524 "Update the test name for DHCP tests"

[2020-07-14 14:50] spectre-storm opened #534 "Generate DAQ Report with Manual Tests Included"
AI: create proposal of workflow how lab operator can perform manual tests and include it into DAQ report

[2020-07-19 21:20] pisuke commented on #204
I've written this document to explain the issues https://docs.google.com/document/d/1g5BtxFGo53d3b9OOIIbf7AApyEYlWFk0qfA_ezSJWwk/edit#
PTAL, thanks!

[2020-07-21 12:12] noursaidi commented on #510
PR #523 implementing this test merged

[2020-07-21 12:12] #510 closed

[2020-07-21 14:35] noursaidi commented on #463
PR #487 with ntpv4 updates merged

[2020-07-21 14:35] #463 closed

[2020-07-21 14:36] noursaidi commented on #339
PR #487 implementing ntpv4 check merged

[2020-07-21 14:36] #339 closed

[2020-07-21 14:54] spectre-storm opened #550 "Develop Test#9 connection.dhcp.disconnect_short"

[2020-07-21 15:01] spectre-storm opened #551 "Update TLS tests related to Certificate Authority validation"

[2020-07-21 15:04] spectre-storm commented on #551
Following the comments on the doc (description on Test no: 46) https://docs.google.com/document/d/1Nrbf3Zyn8_DqsDCXkEN1HP_HmyPIS2DmJyhGgiqIsRE/edit

[2020-07-21 15:06] spectre-storm opened #552 "Develop TLS Client support for the tests"

[2020-07-21 15:07] spectre-storm commented on #552
To support test#47 (new description) Device uses TLS with connection to an external service in the doc
https://docs.google.com/document/d/1Nrbf3Zyn8_DqsDCXkEN1HP_HmyPIS2DmJyhGgiqIsRE/edit

[2020-07-28 16:02] noursaidi commented on #417
PR #525 merged

[2020-07-28 16:02] #417 closed

[2020-07-29 14:18] noursaidi opened #560 "Faux dependencies in subset folder"
Currently faux devices have dependencies in subset. These will need to be moved elsewhere. There are two types of dependencies:
- Files used used to build the container
- Files which run or are used within the container.

These are the following
- `subset/security/sshfaux/` - Contains 2 scripts used to build docker container only
- `subset/ntp/NTPClient/*`- Java Source for NTP client running on fa

[2020-07-29 14:41] grafnu commented on #560
@pbatta I think docker/includes/security would be good for the subset/security ones, and then similar for docker/includes/network -- and then I'd put subset/ntp/NTPClient into docker/includes/network as well

[2020-07-29 23:27] pisuke commented on #419
Addressed in #563

[2020-07-30 00:51] noursaidi commented on #560
@grafnu sorry, I noticed I missed out two from my original list. These were: `subset/bacnet` and `subset/pentests`. The latter is for the bruteforce test (which might be removed?)

Are you still happy with these all moving into docker/includes as per the folder structure mentioned?

[2020-07-30 00:56] grafnu commented on #560
If they are used by the faux containers then they should be in docker/includes -- if they are used by the runtime tests then they should be in subset/

[2020-08-04 15:07] #500 closed

[2020-08-04 15:09] spectre-storm opened #573 "Include manual tests into the configuration (including web form password validation)"

[2020-08-04 15:13] #243 closed

[2020-08-04 15:14] #337 closed

[2020-08-04 15:15] #524 closed

[2020-08-05 09:37] #309 closed

[2020-08-12 22:38] noursaidi commented on #560
PR #567 and #565 (network faux dependancies only) merged

[2020-08-12 22:38] #560 closed

[2020-08-12 22:39] noursaidi commented on #516
PR #565 merged

[2020-08-12 22:39] #516 closed

[2020-08-12 22:40] noursaidi commented on #338
Deprecated test removed as a part of network module clean up. PR #565 merged

[2020-08-12 22:40] #338 closed

[2020-08-12 22:41] noursaidi commented on #242
PR #461 merged addressing issues identified in this issue

[2020-08-12 22:41] #242 closed

[2020-08-14 20:58] pisuke commented on #419
Addressed in #563

[2020-08-14 20:58] #419 closed

[2020-08-14 20:59] #173 closed

[2020-08-14 21:00] #113 closed

[2020-08-14 21:00] #160 closed

[2020-08-14 21:03] #74 closed

[2020-08-14 21:04] #115 closed

[2020-08-14 21:04] #119 closed

[2020-08-14 21:05] #32 closed

[2020-08-26 02:39] jhughesbiot opened #618 "Report Generation Broken"
Not sure what recent update introduced this error but DAQ can no longer complete and generate reports.  I recently updated and merged the latest commits to my branch today and now every time I run cmd/run -s it runs continually because of the below error.  This error did not exist earlier today, just after this merge. I have rebuild the entire environment and deleted the inst directory but it is a

[2020-08-26 02:44] henry54809 commented on #618
Hi Jonathan, the assertion error means the result for test name exists already in the report; this likely was introduced was in the merging, would you please check the diff between origin master and your branch.

[2020-08-26 02:53] grafnu commented on #618
and/or include the bin/techsupport, it should have a bunch of logs and
other things that would clarify. The interesting stuff isn't just in the
stack-trace.

On Tue, Aug 25, 2020 at 7:44 PM henry54809 <notifications@github.com> wrote:

[2020-08-26 04:08] jhughesbiot commented on #618
If it is a duplicate test name that's the error, it's pretty much impossible to know that from that failure since the report never gets created to compare so you would never know how to debug this issue or resolve which test is the issue.

I just rebuilt everything directly from this repo, not my branch and the issue didn't present itself so must be something else I changed in the working branch a

[2020-08-28 18:00] jhughesbiot opened #620 "Switch Module Broken"
Recently started encountering a full failure of the switch module.  Not entirely sure at what commit this started but it's something recent.  Here is the activate.log being used.  The one thing that jumps for me is that it shows

Switch test with ip:port 192.168.100.99:**2**

But the config is port 24.  I had this originally at port 12 and noticed it was always at 1. I swapped it to see if it had

[2020-08-31 18:12] jhughesbiot commented on #620
After a bit more testing, that port appears to identify the port under test as I was testing a device on port 4 and noticed the number now matched that port but I received a completely different error this time.  Either way, switch testing module still seems to be broken.  Seems to be associated with the usi module creation and/or an update within it because this was not an issue before the update

[2020-08-31 21:17] noursaidi commented on #620
@jhughesbiot Just posting to mention that I'm using an Allied Telesis x230 and do not appear to have encountered any issues in the latest updates. Tagging @pisuke to check with his Cisco set up too.

[2020-08-31 22:30] jhughesbiot opened #622 "NTP Update Test Validity"
I am not sure the current requirements behind connection.network.ntp_update are actually valid.  Since this test was introduced, it always fails even on known good devices that should be passing this test.  I have concerns that either the implementation and/or the qualification definitions around this test are not adequate in generating pass results.

[2020-08-31 22:33] henry54809 commented on #620
@jhughesbiot Hi Jonathan, would you please try my branch at [https://github.com/henry54809/daq/tree/feature/convert-switchtests](convert-switchtests). There was some additional output on the Cisco switch that caused a parsing error when getting interface information. I can directly access the logs for usi, so there is no need to send the logs. Thanks!

[2020-08-31 23:13] jhughesbiot commented on #620
@henry54809
I just cloned you're branch, built and ran a test with the same error.

[2020-08-31 23:24] jhughesbiot commented on #620
Another attempt i was going for before trying that branch was to downgrade to 1.8.2 but there seems to be some dependencies that don't let you downgrade and it complains about rerunning the setup_dev, which makes no difference to the error.

[2020-08-31 23:47] jhughesbiot commented on #620
Probably would be helpful to show what i'm talking about:

[code]

[2020-09-01 00:20] henry54809 commented on #620
@jhughesbiot , did you rebuild images before running the test again? It's still showing the same line number that the error occurred but on the new branch, the line is a comment.

[2020-09-01 00:28] jhughesbiot commented on #620
I rebuilt with the same exact error. On examining the code of that branch, it has the following has which shows no comment on that line.  Maybe it's not pushed?

LIne 164
`.withDeadlineAfter(rpcTimeoutSec, TimeUnit.SECONDS).getInterface(switchInfo);`

https://github.com/henry54809/daq/blob/feature/convert-switchtests/subset/switches/src/main/java/switchtest/SwitchTest.java

[code]

[2020-09-01 00:31] henry54809 commented on #620
@jhughesbiot, oh I was actually referring to the code for USI. The logs from 17:13 PDT run is showing that the java string index of out of bounds exception (in USI) was occurring on daq.usi.BaseSwitchController.mapSimpleTable on line 81 which is a comment in the new branch. Switch test stays the same since the parsing logic is only in USI .

[2020-09-01 00:35] jhughesbiot commented on #620
I did rebuild before I ran but i'll try again to see if anything changes.  Not sure what logs you're referring to or how I check them concerning the usi module, haven't seen where those exist.

[2020-09-01 01:13] jhughesbiot commented on #620
Good news! Rebuilt everything and the full switch failure goes away.  Not sure why it didn't behave that way last time, I didn't do anything different this time around.

 The bad news is that there's still something broken in the cisco side of things.  I was originally testing on a new device and was seeing failures across the board with this branch so I swapped to a known good device and it also

[2020-09-01 01:54] henry54809 commented on #620
The switch test was rewritten to use USI which should give more stable and accurate results. The full switch telnet logs are still available but are in usi container. After every run, the usi log is copied to inst directory under cmdusi.log. That log is also streamed directly to stackdriver so I can see the logs live.

[2020-09-01 02:06] jhughesbiot commented on #620
I see that log now but i think there's an oversight here on the switch module during that migration because now the switch module is completely removed from any ability to determine failure/success causes in it's reporting and there's nothing it captures to allow for logging of any issues during the switch level tests.  Makes it very difficult to report any issues contained to the switch within th

[2020-09-01 02:25] henry54809 commented on #620
@jhughesbiot, the objective of the USI is to Standardize switch responses so we can remove switch specific information from everywhere else. If there’s some unexpected telnet output, USI is going to respond with an empty response which switch test will use to fail the test; this is likely why you’re seeing a test failure. If not, then there’s some difference in switch test logic.

[2020-09-01 02:53] jhughesbiot commented on #620
@henry54809
I understand the need to standardize the switch logic but my point to the usi is that this breaks all expectations of what every other test module is responsible for.  All other tests have control over the environment and logging allowing for proper reporting to the final report within that module.  With the introduction of the usi module, the switch module can create no meaningful log

[2020-09-01 04:20] henry54809 commented on #620
@jhughesbiot, it seems like there may be different firmware versions running on your Cisco switch vs. Francesco's switch. I extracted the output for get interface from Francesco's switch to validate the mapSimpleTable function in USI but it's not working directly for your case. The logic for removing the additional "a-" in duplex and speed is still there; the actually problem lies where the functi

[2020-09-01 12:13] noursaidi commented on #622
@jhughesbiot can you share which devices and packet captures if you have these from devices which are failing the test that you think should pass? How long was the monitor_scan period set to? This needs to be at least a few minutes to allow the device to synchronize with the local NTP server. The other reason the test might fail is if the device does not synchronize with the NTP server provided fr

[2020-09-01 14:47] jhughesbiot commented on #620
@henry54809
That's an interesting issue since the cisco switch support was actually developed by me on this switch at this firmware so not sure how this issue got introduced. I think in my code originally it was using header column starts positions to account for empty value space.  Maybe that's what got removed and swapped for the value row?

[2020-09-01 16:43] jhughesbiot commented on #622
There is no requirement that the device uses the provided DHCP NTP server in validation.  This is just an optional way of setting the DHCP server and is not actually defined anywhere for failure of this test module.  Either way, I have tested two devices, one that supports DHCP resolving of the NTP server information and the other which has manually configured NTP servers. The manual entry device

[2020-09-01 21:41] noursaidi commented on #622
For the ntp.update test,  it uses monitor.pcap rather than startup.pcape, so it could be that it became "un-syncronized" later on.

It also checks that a device is synchronized with the local NTP server which DAQ provisions. This is a random IP address, so I'm not sure it's possible to configure it in advance for this test. I think it's accepted as a caveat of the test that if the device doesn't s

[2020-09-01 22:02] jhughesbiot commented on #622
There is no indication that it should be required to use the NTP server created during the DAQ tests, I believe this was added for device that requires being set by DHCP.  There is also no requirement anywhere in device qualification that NTP is required to be set via DHCP so I believe this is an incorrect statement and/or requirement being applied to this test.

From the readme of that test that

[2020-09-01 22:21] noursaidi commented on #622
I think the readme needs updating, as the module was updated to use the
monitor.pcap for test 27 and does not seem to be reflected in the
documentation.

RE the local NTP server, I’ll confirm with Francesco if this was a test
description change and a new requirement or it’s been misinterpreted and
needs amending in the test.

The additional time should allow the vergesense device to synchronise, b

[2020-09-01 22:25] jhughesbiot commented on #622
Is there a configuration in a config file to increase the monitor.pcap time or is this an update to the test code itself?